<h2 class="mb35-sm top-spacemob10"><i class="fa fa-star icon-lg-red border-round-red" style="padding-left:3px;" aria-hidden="true"></i> <strong>Change Password</strong></h2>
<hr />
<form ng-submit="updateUserPasssword(form)">
  <div class="col-md-8 col-sm-12 ">  <label for="exampleInputName2"><strong>Old Password</strong></label>
    <input type="password" class="form-control " id="exampleInputName2" ng-model="user.old-pwd" placeholder="pasword">
  </div>
  <div class="col-md-8 col-sm-12 mt10">  <label for="exampleInputName2"><strong>New Password</strong></label>
    <input type="text" class="form-control " ng-model="user.new-pwd" id="exampleInputName2" >
  </div>
  <div class="col-md-8 col-sm-12 mt10">  <label for="exampleInputName2"><strong>Confirm Password</strong></label>
    <input type="text" class="form-control " ng-model="user.confirm-pwd" id="exampleInputName2" >
  </div>
  <div class="clearfix"></div>
  <p class="mar20" style="padding-left:10px;">
    <input type="submit" class="btn white-btn btn-lg" ng-click="update(user)" value="Save" name="submit">
    <input type="reset" class="btn btn-default btn-lg" ng-click="reset()" value="Reset" name="reset">
  </p>
</form>
