<div class="panel panel-primary noborder  ">
  <div class="panel-heading noborder f-block-transparent-bg ">
    <div class="panel-btns">
      <a href="" class="panel-close tooltips" data-toggle="tooltip" title="Close Panel"><i class="fa fa-times"></i></a>
    </div>
    <!-- panel-btns -->
    <div class="panel-icon"><img ng-src="{{s3Url}}{{purchasedParams?purchasedParams.iconPath:totalParams.iconPath}}" width="60" class="img-responsive" /></div>
    <div class="media-body">
      <h1 class="mt5">{{purchasedParams?purchasedParams.title:totalParams.title}}
        {{purchasedParams?purchasedParams.subTitle:totalParams.subTitle}}
      </h1>
    </div>
    <!-- media-body -->
    <hr>
    <div class="clearfix mt20" ng-if="purchasedAttr">
      <div class="mb15 col-md-6" ng-repeat="purchased in purchasedAttr">
        <h4 class="nomargin "> <strong>{{purchased.coin}}</strong></h4>
        <h4 ng-if="purchased.coin != 'MONERO'" class="arrow_box-top-lft-amout mar10">{{purchased.miningpower}} {{purchased.coin=='BTC'?'TH/s':'MH/s'}}</h4>
        <h4 ng-if="purchased.coin == 'MONERO'" class="arrow_box-top-lft-amout mar10">{{purchased.miningpower}} H/s</h4>
      </div>
      <br />
    </div>
    <div class="clearfix mt20" ng-if="totalAttr">
      <div class="mb15 col-md-6" ng-repeat="total in totalAttr">
        <h4 class="nomargin "> <strong>{{total.coin}}</strong></h4>
        <h4 class="arrow_box-top-lft-amout mar10">{{total.income | number : 4}} {{total.coin}} &asymp; $ {{total.USDPrice | number : 4}}  </h4>
      </div>
      <br />
    </div>
  </div>
  <!-- panel-body -->
</div>
<!-- panel -->
