<div class="panel panel-primary noborder  ">
  <div class="panel-heading noborder f-block-transparent-bg ">
    <div class="panel-btns">
      <a href="" class="panel-close tooltips" data-toggle="tooltip" title="Close Panel"><i class="fa fa-times"></i></a>
    </div>
    <div class="panel-icon"><img ng-src="{{s3Url}}{{purchasedParams?purchasedParams.iconPath:totalParams.iconPath}}" width="60" class="img-responsive" /></div>
    <div class="media-body">
      <h1 class="mt5">{{purchasedParams?purchasedParams.title:totalParams.title}}
         {{purchasedParams?purchasedParams.subTitle:totalParams.subTitle}}
      </h1>
    </div>
    <hr>
    <div class="clearfix mt20" ng-if="purchasedAttr">
      <div class="mb15 col-md-6" ng-repeat="purchased in purchasedAttr">
          <h4 class="nomargin "> <strong>{{purchased.coin}}</strong></h4>
          <h4 ng-if="purchased.coin != 'MONERO'" class="arrow_box-top-lft-amout mar10">{{purchased.miningpower}} {{purchased.coin=='BTC'?'TH/s':'MH/s'}}</h4>
          <h4 ng-if="purchased.coin == 'MONERO'" class="arrow_box-top-lft-amout mar10">{{purchased.miningpower}} H/s</h4>
        </div>
        <br />
    </div>
    <div class="clearfix mt20" ng-if="totalAttr">
      <div class="mb15 col-md-12">
        <h4 class="nomargin" style="padding-bottom:8px;"> <strong>COINS</strong></h4>
        <div class="col-lg-5 col-md-5 col-sm-5 col-xs-5 top-box-lft" style="background-color:#a03a37;padding-top:10px;">
          <h4 class="nomargin mining-income-font" ng-repeat="total in totalAttr">{{total.coin}}</h4>
        </div>
        <div class="col-lg-7 col-md-7 col-sm-7 col-xs-7 top-box-rgt" style="background-color:#a03a37;padding-top:10px;">
          <h4 ng-repeat="total in totalAttr" class="nomargin mining-income-font">{{total.income | number : 4}} {{total.coin}} &asymp; $ {{total.USDPrice | number : 4}}</h4>
        </div>
        <br />
      </div>
    </div>
  </div>
</div>