<form ng-submit="updateProfile(userInfo)"  >
  <div class="row" ng-if="parentSponsor">
    <div class="col-md-6 col-sm-12 mar20">
      <label for="exampleInputName2"><strong>Sponsor Name</strong></label>
      <input class="form-control" id="disabledInput" ng-model="userInfo.sponsorname" type="text" placeholder="Email" disabled>
    </div>
    <div class="col-md-6 col-sm-12 mar20">
      <label for="exampleInputName2"><strong>Sponsor ID</strong></label>
      <input type="text" class="form-control" ng-model="userInfo.sponsor" id="exampleInputName2" disabled>
    </div>
  </div>
  <div class="row mar20" ng-if="parentSponsor">
    <div class="col-md-6 col-sm-12 mar20">
      <label for="exampleInputName2"><strong>Sponsor Email</strong></label>
      <input class="form-control" id="disabledInput" ng-model="userInfo.sponsoremail" type="text" placeholder="Email" disabled>
    </div>
    <div class="col-md-6 col-sm-12 mar20">
      <label for="exampleInputName2"><strong>Sponsor Phone</strong></label>
      <input type="text" class="form-control" ng-model="userInfo.sponsormobile" id="exampleInputName2" disabled>
    </div>
  </div>
  <div class="row mar20">
    <div class="col-md-6 col-sm-12 mar20">
      <label for="exampleInputName2"><strong>Email</strong></label>
      <input class="form-control" id="disabledInput" ng-model="userInfo.Email" type="text" placeholder="Email" disabled>
    </div>
    <div class="col-md-6 col-sm-12 mar20">
      <label for="exampleInputName2"><strong>Username</strong></label>
      <input type="text" class="form-control" ng-model="userInfo.username" id="exampleInputName2" disabled>
    </div>
  </div>
  <div class="row mar20">
    <div class="col-md-6 col-sm-12">
      <label for="exampleInputName2"><strong>Name</strong></label>
      <input type="text" class="form-control " id="exampleInputName2" ng-model="userInfo.name">
    </div>

    <div class="col-md-6 col-sm-12">
      <label for="exampleInputName2"><strong>Mobile Number</strong></label>
      <div class="input-group mb15"> <span class="input-group-addon">+{{dialCode[userInfo.Country].dial}}</span>
      <input type="text" class="form-control " id="exampleInputName2" ng-model="userInfo.Mobile" placeholder="Mobile Number">
    </div>
    </div>
  </div>
  <div class="row mar20">
    <div class="col-md-12 col-sm-12">
      <label for="exampleInputName2"><strong>Address</strong></label>
      <input type="text" class="form-control " id="exampleInputName2" ng-model="userInfo.Address" placeholder="Address">
    </div>
  </div>
  <div class="row mar20">
    <div class="col-md-4 col-sm-12 mb15">
      <label for="exampleInputName2"><strong>Country</strong></label>
      <i class="fa fa-sort {{customClass}}" aria-hidden="true"></i>
      <div ng-model="userInfo.Country" country-select></div>
    </div>
    <div class="col-md-4 col-sm-12">
      <label for="exampleInputName2"><strong>State</strong></label>
      <i class="fa fa-sort {{customClass}}" aria-hidden="true"></i>
      <div country="{{ userInfo.Country }}" ng-model="userInfo.State" state-select ng-if="userInfo.Country"></div>
    </div>
    <div class="col-md-4 col-sm-12">
      <label for="exampleInputName2"><strong>City</strong></label>
      <input type="text" class="form-control " id="exampleInputName2" ng-model="userInfo.City" placeholder="City">
    </div>
  </div>
  <div class="row mar20">
    <div class="col-md-12 col-sm-12">
      <label for="exampleInputName2"><strong>Pincode/Postal Code</strong></label>
      <input type="text" class="form-control " id="exampleInputName2" ng-model="userInfo.Pincode" placeholder="Pincode">
    </div>
  </div>
  <!-- <div class="row mar20">
    <div class="col-md-12 col-sm-12">
      <label for="exampleInputName2"><strong>Government Id/ Tax Id Number</strong></label>
      <input type="file" class="form-control " id="exampleInputName2" ng-model="userInfo.taxId" placeholder="Pincode" /><small>Note: Only images (i.e. PNG, GIF, JPG, JPEG) files are allowed</small>
    </div>
  </div>
  <div class="row mar20">
    <div class="col-md-12 col-sm-12">
      <label for="exampleInputName2"><strong>Photo Id Proof</strong></label>
      <input type="file" class="form-control " id="exampleInputName2" ng-model="userInfo.photoId" placeholder="Pincode" /><small>Note: Only images (i.e. PNG, GIF, JPG, JPEG) files are allowed</small>
    </div>
  </div> -->
  <br />
  <br />
  <div class="alert alert-success fade in" ng-if="successMessage">
    <strong><i class="fa fa-check-circle fa-lg" aria-hidden="true"></i></strong> {{successMessage}}
  </div>
  <div class="alert alert-danger fade in text-capitalize" ng-if="errorMessage">
    <strong>{{errorMessage}}</strong>
  </div>
  <p class="mar20">
    <input type="submit" class="btn white-btn btn-lg" value="Save">
    <input type="reset" class="btn btn-default btn-lg" ng-click="reset()" value="Reset" name="reset">
  </p>
</form>
