<section>
  <div class="panel panel-signin">
    <div class="panel-body">
      <div class="logo text-center">
        <img src="images/logo-coinomia.png" alt="Coinomia" >
      </div>
      <br />
      <h4 class="text-center mb5">Forgot Password?</h4>
      <div class="mb30"></div>
      <div class="alert alert-danger fade in error-padding text-center no-arrow text-capitalize" ng-if="forgotPassError" style="position:relative;">{{forgotPassError}}</div>
      <form name="forgotPassword" ng-submit="submit()" novalidate>
        <div class="input-group mb15">
          <span class="input-group-addon"><i class="fa fa-envelope-o"></i></span>
          <input type="email"
                 name="email"
                 ng-model="user.email"
                 class="form-control"
                 placeholder="Enter Your Email"
                 ng-pattern="/^([a-zA-Z0-9_\.\-])+\@(([a-zA-Z0-9\-])+\.)+([a-zA-Z0-9]{2,4})+$/i"
                 required>
        </div>
        <div class="alert alert-danger fade in error-padding"
             ng-show="(forgotPassword.email.$touched && forgotPassword.email.$invalid && !forgotPassword.email.$error.pattern) || emailError">
          <!-- <a href="" class="close" data-dismiss="alert">&times;</a> -->
          This field is required.
        </div>

        <div class="alert alert-danger fade in error-padding"
             ng-show="forgotPassword.email.$error.pattern && forgotPassword.email.$touched">
             Please enter a valid email address.</div>
        <!-- input-group -->
        <div class="clearfix">
          <div class="pull-right">
            <button type="submit" class="btn btn-success">Submit <i class="fa fa-angle-right ml5"></i></button>
          </div>
        </div>
      </form>
    </div>
  </div>
  <!-- panel -->
</section>
