<section>
  <div class="panel panel-signin">
    <div class="panel-body" ng-show="!otpRequest">
      <div class="logo text-center">
        <img ng-src="{{s3Url}}logo-coinomia.png" alt="Coinomia" >
      </div>
      <br />
      <h4 class="text-center mb5">Already a Member?</h4>
      <p class="text-center">Sign in to your account</p>
      <div class="mb30"></div>
      <div class="alert alert-danger fade in error-padding text-center no-arrow text-capitalize" ng-if="loginError" style="position:relative;">{{loginError}}</div>
      <form name="login" ng-submit="submit()" novalidate>
        <div class="input-group mb15">
          <span class="input-group-addon"><i class="fa fa-user"></i></span>
          <input type="text" name="username" ng-model="username" class="form-control" placeholder="User Name" required>
        </div>
        <div class="alert alert-danger fade in error-padding" ng-show="(login.username.$touched && login.username.$invalid) || (login.username.$invalid && login.$submitted)">
          <!-- <a href="" class="close" data-dismiss="alert">&times;</a> -->
          This field is required.
        </div>
        <!-- <p class="validation-error" ng-show="(login.username.$touched && login.username.$invalid) || (login.username.$invalid && login.$submitted)">This field is required.</p> -->
        <!-- input-group -->
        <div class="input-group mb15">
          <span class="input-group-addon"><i class="fa fa-lock"></i></span>
          <input type="password" name="password" ng-model="password"  class="form-control" placeholder="Password" required>
        </div>
        <div class="alert alert-danger fade in error-padding" ng-show="(login.password.$touched && login.password.$invalid) || (login.password.$invalid && login.$submitted)">
          <!-- <a href="" class="close" data-dismiss="alert">&times;</a> -->
          This field is required.
        </div>
        <!-- <p class="validation-error" ng-show="()">This field is required.</p> -->
        <!-- input-group -->
        <div class="clearfix">
          <div class="pull-left">
            <div class="ckbox ckbox-primary mt10">
              <input type="checkbox" id="rememberMe" ng-model="remember" value="1">
              <label for="rememberMe" style="padding-top:-25px;">Remember Me</label>
            </div>
          </div>
          <div class="pull-right">
            <button type="submit" class="btn btn-success">Sign In <i class="fa fa-angle-right ml5"></i></button>
          </div>
        </div>
      </form>
    </div>
    <!-- panel-body -->
    <div class="panel-footer" ng-if="!otpRequest">
      <div class="col-md-6 nomargin nopadding">
        <a href="#/forgot-password" class=" btn btn-default btn-block" style="border:1px solid #ccc;">Forgot Password</a>
      </div>
      <div class="col-md-6" style="margin-right:0px; padding-right:0px;">
        <a href="#/resend-verification" class=" btn btn-default btn-block" style="border:1px solid #ccc;">Resend Verification</a>
      </div>
      <div class="clearfix"></div>
      <a href="#/signup" class="mar10 btn btn-primary btn-block">Not a Member Yet ? Create a Free Account</a>
    </div>
    <!-- panel-footer -->

    <!-- OTP Request-->
    <div class="panel-body" ng-show="otpRequest">
      <div class="logo text-center">
        <img ng-src="{{s3Url}}logo-coinomia.png" alt="Coinomia" >
      </div>
      <br />      
      <!--<h4 class="text-center mb5">Already a Member?</h4>-->
      <p class="text-center">We have sent an OTP to your Registered Email. Please enter the OTP to access your account. Do not share the OTP with anyone.</p>
      <div class="alert alert-danger fade in error-padding text-center no-arrow text-capitalize" ng-if="otpError" style="position:relative;">{{otpError}}</div>
      <div class="mb30"></div>
      <form name="otp" ng-submit="otpLogin()" novalidate>
        <div class="input-group mb15">
          <span class="input-group-addon"><i class="fa fa-key"></i></span>
          <input type="text" name="otp" ng-model="otpNumber" class="form-control" placeholder="Enter OTP" required>
        </div>
        <div class="pull-left">
          <button type="button" ng-click="back()" class="btn btn-success"><i class="fa fa-angle-left ml5"> Back </i></button>
        </div>
        <div class="pull-right">
          <button type="submit" class="btn btn-success">Proceed <i class="fa fa-angle-right ml5"></i></button>
        </div>
      </form>
    </div>
  </div>
  <!-- panel -->
</section>
