<main-header></main-header>
<section>
  <div class="mainwrapper">
    <navigation></navigation>
    <style>.nav-tabs > li > a{ padding: 14px 45px !important; color:#fff !important;
    }.nav-tabs{background: #d9534f  none repeat scroll 0 0 !important;}.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus{ background:#b73632 !important;}

    </style>
    <div class="mainpanel">
      <div class="pageheader">
        <!-- media -->
        <news-feeds></news-feeds>
        <!-- media -->
      </div>
      <!-- pageheader -->
      <coming-soon text-value="'Mining'"></coming-soon>
      <div class="contentpanel content-opacity">

    <div class="col-md-12 nomargin nopadding">

<h2 class="mb35"><i class="fa fa-line-chart icon-lg border-round" aria-hidden="true" style="padding-left:10px;"></i> <strong>Mining</strong></h2>
              <hr />
<div class="tabbable-panel" >
<div class="tabbable-line" >
<div align="center"><ul  class="nav nav-tabs ">



          <li class="active">
<a href=".tab_default_4" data-toggle="tab">
<i class="fa fa-shopping-cart icon-lg" aria-hidden="true"></i><br />

<strong>Purchase</strong> </a>
</li>
           <li>
<a href=".tab_default_8" data-toggle="tab">
<i class="fa fa-credit-card-alt icon-lg" aria-hidden="true"></i><br />

<strong>Order</strong> </a>
</li>
          <li>
<a href=".tab_default_5" data-toggle="tab">
<i class="fa fa-circle-o icon-lg" aria-hidden="true"></i><br />

<strong>Live Contracts</strong> </a>
</li>

           <li>
<a href=".tab_default_6" data-toggle="tab">
<i class="fa fa-newspaper-o icon-lg" aria-hidden="true"></i><br />

<strong>Mining Payouts</strong> </a>
</li>

          <li>
<a href=".tab_default_7" data-toggle="tab">
<i class="fa fa-google-wallet icon-lg" aria-hidden="true"></i><br />

<strong>Wallets</strong> </a>
</li>
</ul></div>
<div class="tab-content" style="padding:20px 20px; ">




          <div class="tab-pane tab_default_4 active"><br />

<h2 class="mb37" align="center" style="width:40%;">
<span class="glyphicon glyphicon-minus"></span>
Purchase Mining Contracts<span class="glyphicon glyphicon-minus"></span>
</h2><br />


<div class="row"  >
<div class="col-md-4    col-sm-12 ">
<div class="panel panel-default " style="border:0px;">
<div  class="panel-body plan01">

<div class="col-md-4 col-sm-12"> <img src="images/contract-bitcoin.png"   class="img-responsive"  /></div>
<div class="col-md-8 col-sm-12"><h2 class="plan-text-main">
Pool Contract</h2><h1 class="plan-text"> $100</h1>
</div>
<div class="clearfix"></div>
<div align="center" class="col-md-12"><p class="plan-sm-text"> <strong>PV = 1</strong> </p>
<p class="plan-sm-text">Mining Power =

<strong>BTC 3 TH/s or
ETH .58 MH/s</strong></p>
<p class="plan-sm-text">% Direct Referral
Commissions = <strong>8%</strong></p></div>
</div>

</div>
</div><div class="col-md-4 col-sm-12">
<div class="panel panel-default" style="border:0px;">
<div align="center" class="panel-body plan02">
<div class="col-md-4 col-sm-12"> <img src="images/contributor.png"  class="img-responsive"  /></div>
<div class="col-md-8 col-sm-12"><h2 class="plan-text-main">
Machine Contract</h2>
<h1 class="plan-text01">1000$</h1>
</div>

<div class="clearfix"></div>
<div  align="center" class="col-md-12">
<p class="plan-sm-text"> <strong>PV = 11</strong></p>
<p class="plan-sm-text">Mining Power = <strong>BTC 30 TH/s or ETH 5.8 MH/s</strong></p>
<p class="plan-sm-text">% Direct Referral
Commissions = <strong>10%</strong></p>
</div>
</div>

</div>
</div><div class="col-md-4  col-sm-12">
<div class="panel panel-default" style="border:0px;">
<div align="center" class="panel-body plan03">
<div class="col-md-4 col-sm-12"> <img src="images/rack.png"  class="img-responsive"  /></div>
<div class="col-md-8 col-sm-12"> <h2 class="plan-text-main">
Rack Contract</h2>
<h1 class="plan-text02"> 10,000$</h1>
</div>

<div class="clearfix"></div>
<div align="center" class="col-md-12">
<p class="plan-sm-text"><strong>PV = 115</strong></p>
<p class="plan-sm-text">Mining Power = <strong>BTC 300 TH/s or ETH 57.7 MH/s</strong></p>  <p class="plan-sm-text">% Direct Referral
Commissions = <strong>12%</strong></p> </div>
</div>

</div>
</div>
</div><br />


<h2 class="mb35-sm top-spacemob10"><i class="fa fa-shopping-cart icon-lg-red border-round-red" aria-hidden="true"></i> <strong> Purchase</strong></h2>
              <hr />

<!-- Nav tabs -->
<ul class="nav nav-tabs" role="tablist" style="background:#ccc !important; color:#525252 !important;">
<li role="presentation" class="active" ><a href=".dmp" aria-controls="dmp" role="tab" data-toggle="tab"><strong><img src="images/ether.png" width="40"> Ethereum</strong></a></li>
<li role="presentation" ><a href=".rmp" aria-controls="rmp" role="tab" data-toggle="tab"><strong><img src="images/bitcoin.png" width="40" />  Bitcoin</strong></a></li>
</ul>

<!-- Tab panes -->
<div class="tab-content" style="border:0px !important">
<div role="tabpanel" class="tab-pane active dmp"><br />
<h5 class="red-text02"><strong><img src="images/ether.png" width="30"> Pool Contract</strong></h5>
<hr />

<div class="row">
<div class="col-md-4 col-sm-12"><p class="pull-left"><h5><strong>Total Power</strong></h5></p><p class="red-text04 pull-left">4375798.87439</p></div>
<div class="col-md-4 col-sm-12"><p class="pull-left"><h5><strong>Estimated Total Income(USD)</strong></h5></p><p class="red-text04 pull-left">$900</p></div>
<div class="col-md-4 col-sm-12"><p class="pull-left"><h5><strong>Current Rate</strong></h5></p><p class="red-text04 pull-left">$900</p></div>


</div>
<br />
<br />


             <div class="table-responsive">
                      <table class="table table-dark-gry table-hover mb30 font16">
                          <thead style="background:#525252;">
                            <tr style="color:#525252;">
                              <th width="10%"><strong class="white-color">Date</strong></th>
                              <th width="20%"><strong class="white-color">Contract Name</strong></th>
                              <th width="10%"><strong class="white-color">Units</strong></th>
                               <th width="30%"><strong class="white-color">Power</strong></th>
                               <th width="30%"><strong class="white-color">Expire Time Left(in month)</strong></th>




                            </tr>
                          </thead>
                          <tbody>
                            <tr>
                            <td>12/12/2015</td>
                            <td>Pool Contract</td>
                            <td>1000</td>
                             <td>3274832 TH/s</td>
                              <td>2 Month</td>

                            </tr>


                          </tbody>
                      </table>
                    <div class="pull-right"><ul class="pagination pagination-metro nomargin mt10">
                              <li class="disabled"><a href="#"><i class="fa fa-angle-left"></i></a></li>
                              <li><a href="#">1</a></li>
                              <li class="active"><a href="#">2</a></li>
                              <li><a href="#">3</a></li>
                              <li><a href="#">4</a></li>
                              <li><a href="#">5</a></li>
                              <li><a href="#"><i class="fa fa-angle-right"></i></a></li>
                          </ul></div><br />
<br />

                  </div><br />
<br />
<br />
<h5 class="red-text02"><strong><img src="images/ether.png" width="30"> Machine Contract</strong></h5>
<hr />
<div class="row">
<div class="col-md-4 col-sm-12"><p class="pull-left"><h5><strong>Total Power</strong></h5></p><p class="red-text04 pull-left">4375798.87439</p></div>
<div class="col-md-4 col-sm-12"><p class="pull-left"><h5><strong>Estimated Total Income(USD)</strong></h5></p><p class="red-text04 pull-left">$900</p></div>
<div class="col-md-4 col-sm-12"><p class="pull-left"><h5><strong>Current Rate</strong></h5></p><p class="red-text04 pull-left">$900</p></div>


</div>
<br />
<br />


             <div class="table-responsive">
                      <table class="table table-dark-gry table-hover mb30 font16">
                          <thead style="background:#525252;">
                            <tr style="color:#525252;">
                              <th width="10%"><strong class="white-color">Date</strong></th>
                              <th width="20%"><strong class="white-color">Contract Name</strong></th>
                              <th width="10%"><strong class="white-color">Units</strong></th>
                               <th width="30%"><strong class="white-color">Power</strong></th>
                               <th width="30%"><strong class="white-color">Expire Time Left(in month)</strong></th>




                            </tr>
                          </thead>
                          <tbody>
                            <tr>
                            <td>12/12/2015</td>
                            <td>Pool Contract</td>
                            <td>1000</td>
                             <td>3274832 TH/s</td>
                              <td>2 Month</td>

                            </tr>


                          </tbody>
                      </table>
                    <div class="pull-right"><ul class="pagination pagination-metro nomargin mt10">
                              <li class="disabled"><a href="#"><i class="fa fa-angle-left"></i></a></li>
                              <li><a href="#">1</a></li>
                              <li class="active"><a href="#">2</a></li>
                              <li><a href="#">3</a></li>
                              <li><a href="#">4</a></li>
                              <li><a href="#">5</a></li>
                              <li><a href="#"><i class="fa fa-angle-right"></i></a></li>
                          </ul></div><br />
<br />

                  </div><br />
<br />

<br />
<h5 class="red-text02"><strong><img src="images/ether.png" width="30"> Rack Contract</strong></h5>
<hr />
<div class="row">
<div class="col-md-4 col-sm-12"><p class="pull-left"><h5><strong>Total Power</strong></h5></p><p class="red-text04 pull-left">4375798.87439</p></div>
<div class="col-md-4 col-sm-12"><p class="pull-left"><h5><strong>Estimated Total Income(USD)</strong></h5></p><p class="red-text04 pull-left">$900</p></div>
<div class="col-md-4 col-sm-12"><p class="pull-left"><h5><strong>Current Rate</strong></h5></p><p class="red-text04 pull-left">$900</p></div>


</div>
<br />
<br />


             <div class="table-responsive">
                      <table class="table table-dark-gry table-hover mb30 font16">
                          <thead style="background:#525252;">
                            <tr style="color:#525252;">
                              <th width="10%"><strong class="white-color">Date</strong></th>
                              <th width="20%"><strong class="white-color">Contract Name</strong></th>
                              <th width="10%"><strong class="white-color">Units</strong></th>
                               <th width="30%"><strong class="white-color">Power</strong></th>
                               <th width="30%"><strong class="white-color">Expire Time Left(in month)</strong></th>




                            </tr>
                          </thead>
                          <tbody>
                            <tr>
                            <td>12/12/2015</td>
                            <td>Pool Contract</td>
                            <td>1000</td>
                             <td>3274832 TH/s</td>
                              <td>2 Month</td>

                            </tr>


                          </tbody>
                      </table>
                    <div class="pull-right"><ul class="pagination pagination-metro nomargin mt10">
                              <li class="disabled"><a href="#"><i class="fa fa-angle-left"></i></a></li>
                              <li><a href="#">1</a></li>
                              <li class="active"><a href="#">2</a></li>
                              <li><a href="#">3</a></li>
                              <li><a href="#">4</a></li>
                              <li><a href="#">5</a></li>
                              <li><a href="#"><i class="fa fa-angle-right"></i></a></li>
                          </ul></div><br />
<br />

                  </div></div>
<div role="tabpanel" class="tab-pane rmp" ><br />
<h5 class="red-text02"><strong><img src="images/bitcoin.png" width="30"> Pool Contract</strong></h5>
<hr />

<div class="row">
<div class="col-md-4 col-sm-12"><p class="pull-left"><h5><strong>Total Power</strong></h5></p><p class="red-text04 pull-left">4375798.87439</p></div>
<div class="col-md-4 col-sm-12"><p class="pull-left"><h5><strong>Estimated Total Income(USD)</strong></h5></p><p class="red-text04 pull-left">$900</p></div>
<div class="col-md-4 col-sm-12"><p class="pull-left"><h5><strong>Current Rate</strong></h5></p><p class="red-text04 pull-left">$900</p></div>


</div>
<br />
<br />


             <div class="table-responsive">
                      <table class="table table-dark-gry table-hover mb30 font16">
                          <thead style="background:#525252;">
                            <tr style="color:#525252;">
                              <th width="10%"><strong class="white-color">Date</strong></th>
                              <th width="20%"><strong class="white-color">Contract Name</strong></th>
                              <th width="10%"><strong class="white-color">Units</strong></th>
                               <th width="30%"><strong class="white-color">Power</strong></th>
                               <th width="30%"><strong class="white-color">Expire Time Left(in month)</strong></th>




                            </tr>
                          </thead>
                          <tbody>
                            <tr>
                            <td>12/12/2015</td>
                            <td>Pool Contract</td>
                            <td>1000</td>
                             <td>3274832 TH/s</td>
                              <td>2 Month</td>

                            </tr>


                          </tbody>
                      </table>
                    <div class="pull-right"><ul class="pagination pagination-metro nomargin mt10">
                              <li class="disabled"><a href="#"><i class="fa fa-angle-left"></i></a></li>
                              <li><a href="#">1</a></li>
                              <li class="active"><a href="#">2</a></li>
                              <li><a href="#">3</a></li>
                              <li><a href="#">4</a></li>
                              <li><a href="#">5</a></li>
                              <li><a href="#"><i class="fa fa-angle-right"></i></a></li>
                          </ul></div><br />
<br />

                  </div><br />
<br />
<br />
<h5 class="red-text02"><strong><img src="images/bitcoin.png" width="30"> Machine Contract</strong></h5>
<hr />
<div class="row">
<div class="col-md-4 col-sm-12"><p class="pull-left"><h5><strong>Total Power</strong></h5></p><p class="red-text04 pull-left">4375798.87439</p></div>
<div class="col-md-4 col-sm-12"><p class="pull-left"><h5><strong>Estimated Total Income(USD)</strong></h5></p><p class="red-text04 pull-left">$900</p></div>
<div class="col-md-4 col-sm-12"><p class="pull-left"><h5><strong>Current Rate</strong></h5></p><p class="red-text04 pull-left">$900</p></div>


</div>
<br />
<br />


             <div class="table-responsive">
                      <table class="table table-dark-gry table-hover mb30 font16">
                          <thead style="background:#525252;">
                            <tr style="color:#525252;">
                              <th width="10%"><strong class="white-color">Date</strong></th>
                              <th width="20%"><strong class="white-color">Contract Name</strong></th>
                              <th width="10%"><strong class="white-color">Units</strong></th>
                               <th width="30%"><strong class="white-color">Power</strong></th>
                               <th width="30%"><strong class="white-color">Expire Time Left(in month)</strong></th>




                            </tr>
                          </thead>
                          <tbody>
                            <tr>
                            <td>12/12/2015</td>
                            <td>Pool Contract</td>
                            <td>1000</td>
                             <td>3274832 TH/s</td>
                              <td>2 Month</td>

                            </tr>


                          </tbody>
                      </table>
                    <div class="pull-right"><ul class="pagination pagination-metro nomargin mt10">
                              <li class="disabled"><a href="#"><i class="fa fa-angle-left"></i></a></li>
                              <li><a href="#">1</a></li>
                              <li class="active"><a href="#">2</a></li>
                              <li><a href="#">3</a></li>
                              <li><a href="#">4</a></li>
                              <li><a href="#">5</a></li>
                              <li><a href="#"><i class="fa fa-angle-right"></i></a></li>
                          </ul></div><br />
<br />

                  </div><br />
<br />

<br />
<h5 class="red-text02"><strong><img src="images/bitcoin.png" width="30"> Rack Contract</strong></h5>
<hr />
<div class="row">
<div class="col-md-4 col-sm-12"><p class="pull-left"><h5><strong>Total Power</strong></h5></p><p class="red-text04 pull-left">4375798.87439</p></div>
<div class="col-md-4 col-sm-12"><p class="pull-left"><h5><strong>Estimated Total Income(USD)</strong></h5></p><p class="red-text04 pull-left">$900</p></div>
<div class="col-md-4 col-sm-12"><p class="pull-left"><h5><strong>Current Rate</strong></h5></p><p class="red-text04 pull-left">$900</p></div>


</div>
<br />
<br />


             <div class="table-responsive">
                      <table class="table table-dark-gry table-hover mb30 font16">
                          <thead style="background:#525252;">
                            <tr style="color:#525252;">
                              <th width="10%"><strong class="white-color">Date</strong></th>
                              <th width="20%"><strong class="white-color">Contract Name</strong></th>
                              <th width="10%"><strong class="white-color">Units</strong></th>
                               <th width="30%"><strong class="white-color">Power</strong></th>
                               <th width="30%"><strong class="white-color">Expire Time Left(in month)</strong></th>




                            </tr>
                          </thead>
                          <tbody>
                            <tr>
                            <td>12/12/2015</td>
                            <td>Pool Contract</td>
                            <td>1000</td>
                             <td>3274832 TH/s</td>
                              <td>2 Month</td>

                            </tr>


                          </tbody>
                      </table>
                    <div class="pull-right"><ul class="pagination pagination-metro nomargin mt10">
                              <li class="disabled"><a href="#"><i class="fa fa-angle-left"></i></a></li>
                              <li><a href="#">1</a></li>
                              <li class="active"><a href="#">2</a></li>
                              <li><a href="#">3</a></li>
                              <li><a href="#">4</a></li>
                              <li><a href="#">5</a></li>
                              <li><a href="#"><i class="fa fa-angle-right"></i></a></li>
                          </ul></div><br />
<br />

                  </div></div>
</div>

</div>

          <div class="tab-pane tab_default_5" style="height:500px;" >
<h2 class="mb35-sm top-spacemob10"><i class="fa fa-circle-o icon-lg-red border-round-red" style="padding-left:5px;" aria-hidden="true"></i> <strong>Live Contracts</strong></h2>
              <hr />


<div class="row">
<div class="col-md-4 col-sm-12"><p class="pull-left"><h5><strong>Total Power</strong></h5></p><p class="red-text04 pull-left">4375798.87439</p></div>
<div class="col-md-4 col-sm-12"><p class="pull-left"><h5><strong>Estimated Total Income(USD)</strong></h5></p><p class="red-text04 pull-left">$900</p></div>
<div class="col-md-4 col-sm-12"><p class="pull-left"><h5><strong>Current Rate</strong></h5></p><p class="red-text04 pull-left">$900</p></div>


</div>
<br />
<br />


             <div class="table-responsive">
                      <table class="table table-dark-gry table-hover mb30 font16">
                          <thead style="background:#525252;">
                            <tr style="color:#525252;">
                              <th width="10%"><strong class="white-color">Date</strong></th>
                              <th width="20%"><strong class="white-color">Contract Name</strong></th>
                              <th width="10%"><strong class="white-color">Units</strong></th>
                               <th width="30%"><strong class="white-color">Power</strong></th>
                               <th width="30%"><strong class="white-color">Expire Time Left(in month)</strong></th>




                            </tr>
                          </thead>
                          <tbody>
                            <tr>
                            <td>12/12/2015</td>
                            <td>Pool Contract</td>
                            <td>1000</td>
                             <td>3274832 TH/s</td>
                              <td>2 Month</td>

                            </tr>


                          </tbody>
                      </table>
                    <div class="pull-right"><ul class="pagination pagination-metro nomargin mt10">
                              <li class="disabled"><a href="#"><i class="fa fa-angle-left"></i></a></li>
                              <li><a href="#">1</a></li>
                              <li class="active"><a href="#">2</a></li>
                              <li><a href="#">3</a></li>
                              <li><a href="#">4</a></li>
                              <li><a href="#">5</a></li>
                              <li><a href="#"><i class="fa fa-angle-right"></i></a></li>
                          </ul></div><br />
<br />

                  </div>

</div>

          <div class="tab-pane tab_default_6" >
<h2 class="mb35-sm top-spacemob10"> <i class="fa fa-newspaper-o icon-lg-red border-round-red" style="padding-top:5px; padding-left:3px" aria-hidden="true"></i> <strong>Mining Payouts</strong></h2>
              <hr />
           <div class="table-responsive">
                      <table class="table table-dark-gry table-hover mb30 font16">
                          <thead style="background:#525252;">
                            <tr style="color:#525252;">
                              <th width="20%"><strong class="white-color">Date</strong></th>
                              <th width="40%"><strong class="white-color">Cryptocurrency </th>
                              <th width="40%"><strong class="white-color">Payout Description
</strong></th>




                            </tr>
                          </thead>
                          <tbody>
                            <tr>
                            <td>12/08/2016</td>
                            <td>$800</td>
                            <td>Commission Received by Direct Referral ID = COIN0239809</td>

                            </tr>


                          </tbody>
                      </table>
                    <div class="pull-right"><ul class="pagination pagination-metro nomargin mt10">
                              <li class="disabled"><a href="#"><i class="fa fa-angle-left"></i></a></li>
                              <li><a href="#">1</a></li>
                              <li class="active"><a href="#">2</a></li>
                              <li><a href="#">3</a></li>
                              <li><a href="#">4</a></li>
                              <li><a href="#">5</a></li>
                              <li><a href="#"><i class="fa fa-angle-right"></i></a></li>
                          </ul></div><br />
<br />

                  </div>

</div>




          <div class="tab-pane tab_default_7" style="height:500px;">
<h2 class="mb35-sm top-spacemob10"> <i class="fa fa-google-wallet icon-lg-red border-round-red" style="padding-top:5px; " aria-hidden="true"></i> <strong>Wallets</strong></h2>
              <hr />
              <div class="row">
              <div class="col-md-6 col-sm-12">
              <h2 class="mb35" align="center" ><img src="images/btc-wallet.png" width="20%" /><br />
<span class="glyphicon glyphicon-minus"></span>
Bitcoin Wallet<span class="glyphicon glyphicon-minus"></span><br />

</h2><br />
<div class="table-responsive">
                      <table class="table table-dark-gry table-hover mb30 font16">

                          <tbody>
                            <tr>
                            <td valign="middle"><strong class="red-text02 " style="padding-top:30px;">Wallet Address</strong></td>
                               <td><input type="text" class="form-control" value="3J98t1WpEZ73CNmQviecrnyiWrnqRhWNLy" readonly="readonly" /></td>
                            </tr>

                               <tr>
                            <td valign="middle"><strong class="red-text02" style="padding-top:30px;">Total Bitcoin</strong></td>
                               <td><h4><strong>437563.4758 BTC</strong></h4></td>
                            </tr>
                            <tr>
                            <td align="center" valign="middle" colspan="2"><button class="btn btn-default" ><strong>Withdraw</strong></button>&nbsp;<button class="btn btn-default white-btn" ><strong>Exchange History</strong></button></td>
                            </tr>
                          </tbody>
                      </table>
                  <br />
<br />

                  </div>
              </div><div class="col-md-6 col-sm-12" align="center">
              <h2 class="mb35" align="center" ><img src="images/eth-wallet.png" width="20%" ><br />

<span class="glyphicon glyphicon-minus"></span>
Ether Wallet<span class="glyphicon glyphicon-minus"></span><br />
</h2>
<br />

<div class="table-responsive">
                      <table class="table table-dark-gry table-hover mb30 font16">

                          <tbody>
                            <tr>
                            <td valign="middle"><strong class="red-text02 " style="padding-top:30px;">Wallet Address</strong></td>
                               <td><input type="text" class="form-control" value="1BvBMSEYstWetqTFn5Au4m4GFg7xJaNVN2" readonly="readonly" /></td>
                            </tr>

                               <tr>
                            <td valign="middle"><strong class="red-text02 " style="padding-top:30px;">Total Etheruem</strong></td>
                               <td><h4><strong>437563.4758 ETH</strong></h4></td>
                            </tr>
                            <tr>
                            <td align="center" valign="middle" colspan="2"><button class="btn btn-default" ><strong>Withdraw</strong></button>&nbsp;<button class="btn btn-default white-btn" ><strong>Exchange History</strong></button></td>
                            </tr>
                          </tbody>
                      </table>
                  <br />
<br />

                  </div>                      </div>

              </div>





</div>

          <div class="tab-pane tab_default_8">
<h2 class="mb35-sm top-spacemob10"><i class="fa fa-credit-card-alt icon-lg-red border-round-red" style="padding-left:3px;" aria-hidden="true"></i> <strong>Order</strong></h2>
              <hr />

              <div class="row" >
                          <div class="col-md-8 col-sm-12">
                            <div class="price-box" ng-repeat="btc in btcProducts">
                              <form class="form-horizontal form-pricing" role="form">
                                <div class="price-slider">
                                  <h4 class="great text-capitalize">{{btc.productname}}</h4>
                                  <img src="images/contract-bitcoin.png" width="100" class="pull-right" />
                                  <div class="col-sm-12">
                                    <div ui-slider class="btcPool" model="btcMining" min="0.5" max="{{btc.maxunit}}" step="0.1"></div>
                                  </div>
                                </div>
                                <div class="price-form">
                                  <div class="form-group">
                                    <div class="col-sm-12">
                                      <input type="hidden" id="amount" class="form-control">
                                      <p class="price lead" id="amount-label">{{btcMining}}</p>
                                       TH/s<strong class="price pull-right lead">Amount : ${{btc.amount}}</strong>
                                    </div>
                                  </div>
                                </div>
                              </form>
                            </div>
                            <div class="price-box" ng-repeat="eth in ethProducts">
                              <form class="form-horizontal form-pricing" role="form">
                                <div class="price-slider">
                                  <h4 class="great text-capitalize">{{eth.productname}}</h4>
                                  <img src="images/ether-contract.png" width="100" class="pull-right" />
                                  <div class="col-sm-12">
                                    <div ui-slider class="uiSlider" model="ethMining" min="0.5" max="{{eth.maxunit}}" step="0.1"></div>
                                  </div>
                                </div>
                                <div class="price-form">
                                  <div class="form-group">
                                    <div class="col-sm-12">
                                      <input type="hidden" id="amount3" class="form-control">
                                      <p class="price lead" id="amount-label3">{{ethMining}}</p>
                                      MH/s<strong class="price pull-right lead">Amount : ${{eth.amount}}</strong>
                                    </div>
                                  </div>
                                </div>
                              </form>
                            </div>
                          </div>
                          <div class="col-md-4 col-sm-12">
                            <div class="col-md-12 col-sm-12">
                              <h2 align="center" class="mb35"><span class="glyphicon glyphicon-minus"></span>  Order Summary <span class="glyphicon glyphicon-minus"></span> </h2>
                              <p align="center">Hashpower contract overview</p>
                              <br />
                              <div class="panel panel-default ">
                                <div class="panel-body">
                                  <div  class="col-md-12  col-sm-12" style="border-bottom:1px dotted #ccc;">
                                    <p>
                                    <h2 class="mb38">Bitcoin Pool Contract</h2>
                                    </p>
                                    <h3 class="mb36">0.00 USD</h3>
                                    <h3 class="mb36">0 TH/s</h3>
                                  </div>
                                  <div  class="col-md-12  col-sm-12" style="border-bottom:1px dotted #ccc;">
                                    <p>
                                    <h2 class="mb38">Bitcoin  Contributor</h2>
                                    </p>
                                    <h3 class="mb36">0.00 USD</h3>
                                    <h3 class="mb36">0 TH/s</h3>
                                  </div>
                                  <div  class="col-md-12  col-sm-12" style="border-bottom:1px dotted #ccc;">
                                    <p>
                                    <h2 class="mb38">Bitcoin Rack</h2>
                                    </p>
                                    <h3 class="mb36">0.00 USD</h3>
                                    <h3 class="mb36">0 TH/s</h3>
                                  </div>
                                  <div  class="col-md-12  col-sm-12" style="border-bottom:1px dotted #ccc;">
                                    <p>
                                    <h2 class="mb38">Ether Pool Contract</h2>
                                    </p>
                                    <h3 class="mb36">0.00 USD</h3>
                                    <h3 class="mb36">0 MH/s</h3>
                                  </div>
                                  <div  class="col-md-12  col-sm-12" style="border-bottom:1px dotted #ccc;">
                                    <p>
                                    <h2 class="mb38">Ether Contributor</h2>
                                    </p>
                                    <h3 class="mb36">0.00 USD</h3>
                                    <h3 class="mb36">0 MH/s</h3>
                                  </div>
                                  <div  class="col-md-12  col-sm-12" style="border-bottom:1px dotted #ccc; margin-bottom:20px;">
                                    <p>
                                    <h2 class="mb38">Ether Rack Owner</h2>
                                    </p>
                                    <h3 class="mb36">0.00 USD</h3>
                                    <h3 class="mb36">0 MH/s</h3>
                                  </div>
                                  <div class="clearfix"></div>
                                  <div align="center" >
                                    <h3 class="total-price"><strong>Total - 614USD</strong></h3>
                                  </div>
                                  <div align="center" class="col-md-12   col-sm-12">
                                    <div class="" style="margin-top:20px;">
                                      <img src="images/icon-payment.png" class="img-responsive" />
                                      <p style="font-size:14px;"><strong>Payment type</strong><br />
                                        Please choose your payment<br />
                                        option below, e.g.,<br />
                                        Bitcoin, Credit Card, Wires
                                      </p>
                                      <hr />
                                      <select name="" style="padding:10px; width:80%; font-size:12px !important;">
                                        <option>CREDIT CARD (USD)</option>
                                        <option>Wire (USD)</option>
                                        <option>Bitcoin</option>
                                      </select>
                                      <hr />
                                      <a href="#/order-summary"><button type="button" class="btn btn-lg btn-success">Continue <i class="fa fa-arrow-circle-o-right" aria-hidden="true"></i>
                                      </button></a>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>

</div>
</div>
</div>
</div>

</div>







</div>
      <!-- contentpanel -->
    </div>
    <main-footer></main-footer>
  </div>
  <!-- mainwrapper -->
</section>
