<main-header class="main-header"></main-header>
<section>
   <div class="mainwrapper">
   <navigation></navigation>
   <style>.nav-tabs > li > a{ padding: 15px 9px !important; color:#fff !important;
      }.promote > li > a{ padding: 15px 0px !important;}.nav-tabs>li>a{margin-right:0px;}.nav-tabs{background: #d9534f  none repeat scroll 0 0 !important;}.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus{ background:#b73632 !important;} .box-gry{float: left;margin-top: 0px;width: 100%;}
   </style>
   <div class="mainpanel">
      <div class="contentpanel">
         <div>
            <h2 class="mb35"><i class="fa fa-bullhorn icon-lg border-round" aria-hidden="true" style="padding-left:10px; padding-top:10px; "></i> <strong>Promote Coinomia</strong></h2>
            <hr />
            <div class="tabbable-panel" >
               <div class="tabbable-line" >
                  <div align="center">
                     <ul  class="nav nav-tabs promote">
                        <li ng-class="(activeTab==='grab-concept'?'active':'')">
                           <a href=".tab_default_3" data-toggle="tab">
                           <i class="fa fa-lightbulb-o icon-lg" aria-hidden="true"></i><br />
                           <strong>Grab the Concept</strong> </a>
                        </li>
                        <li ng-class="(activeTab==='banner'?'active':'')">
                           <a href=".banner" data-toggle="tab">
                           <i class="fa fa-clone icon-lg" aria-hidden="true"></i><br />
                           <strong>Banner</strong> </a>
                        </li>
                        <li ng-class="(activeTab==='email-samples'?'active':'')">
                           <a href=".email-samples" data-toggle="tab">
                           <i class="fa fa-envelope-o icon-lg" aria-hidden="true"></i><br />
                           <strong>Email Samples</strong> </a>
                        </li>
                        <li ng-class="(activeTab==='sms-blast'?'active':'')">
                           <a href=".sms-blast" data-toggle="tab">
                           <i class="fa fa-mobile icon-lg" aria-hidden="true"></i><br />
                           <strong>SMS Blast</strong> </a>
                        </li>
                        <li>
                           <a href=".fb-private" data-toggle="tab">
                           <i class="fa fa-facebook icon-lg" aria-hidden="true"></i><br />
                           <strong>FB Private Messages</strong></a>
                        </li>
                        <li ng-class="(activeTab==='social-blast'?'active':'')">
                           <a href=".social-blast" data-toggle="tab">
                           <i class="fa fa-magic icon-lg" aria-hidden="true"></i><br />
                           <strong>Social Blast</strong> </a>
                        </li>
                        <li ng-class="(activeTab==='social-group'?'active':'')">
                           <a href=".social-group" data-toggle="tab">
                           <i class="fa fa-facebook icon-lg" aria-hidden="true"></i><br />
                           <strong>Social Groups</strong> </a>
                        </li>
                        <li ng-class="(activeTab==='campaign'?'active':'')" ng-click="reports('referral')">
                           <a href=".campaign" data-toggle="tab" aria-expanded="true">
                           <i class="fa fa-list-alt icon-lg" aria-hidden="true"></i>
                           <br>
                           <strong>Campaign</strong> </a>
                        </li>
                     </ul>
                  </div>
                  <div class="tab-content" style="padding:20px 20px; ">
                     <div class="tab-pane tab_default_3" ng-class="(activeTab==='grab-concept'?'active':'')">
                        <h2 class="mb35-sm top-spacemob10"><i class="fa fa-lightbulb-o icon-lg-red border-round-red" style="padding-left:5px;" aria-hidden="true"></i> <strong>Grab the Concept </strong></h2>
                        <hr />
                        <h4 class="video-text"> <i class="fa fa-youtube-play" aria-hidden="true"></i>
                           <strong>Video Concept</strong>
                        </h4>
                        <div class="row">
                           <div class="col-md-4">
                              <div class="panel panel-default">
                                 <div class="panel-body" style="padding:5px !important;">
                                    <iframe width="100%" height="200" src="https://www.youtube.com/embed/AegON_Djq1U" frameborder="0" allowfullscreen></iframe>
                                 </div>
                                 <div align="center" class="panel-footer"><strong >Ethereum- the World!</strong><br />
                                 </div>
                              </div>
                           </div>
                           <div class="col-md-4">
                              <div class="panel panel-default">
                                 <div class="panel-body" style="padding:5px !important;">
                                    <iframe width="100%" height="200" src="https://www.youtube.com/embed/9KTynLXKAE8" frameborder="0" allowfullscreen></iframe>
                                 </div>
                                 <div align="center" class="panel-footer"><strong >What is Mining?</strong><br />
                                 </div>
                              </div>
                           </div>
                           <div class="col-md-4">
                              <div class="panel panel-default">
                                 <div class="panel-body" style="padding:5px !important;">
                                    <iframe width="100%" height="200" src="https://www.youtube.com/embed/Hi_vePeEHhs" frameborder="0" allowfullscreen></iframe>
                                 </div>
                                 <div align="center" class="panel-footer"><strong >How Bitcoin Works</strong><br />
                                 </div>
                              </div>
                           </div>
                           <div class="col-md-4">
                              <div class="panel panel-default">
                                 <div class="panel-body" style="padding:5px !important;">
                                    <iframe width="100%" height="200" src="https://www.youtube.com/embed/bbTcurqg07Q" frameborder="0" allowfullscreen=""></iframe>
                                 </div>
                                 <div align="center" class="panel-footer"><strong>Coinomia presentation (Russian)</strong><br>
                                 </div>
                              </div>
                           </div>
                           <div></div>
                        </div>
                        <br />
                        <h4 class="video-text"> <i class="fa fa-file-pdf-o" aria-hidden="true"></i>
                           <strong>PDF Concept</strong>
                        </h4>
                        <div class="row" >
                           <div class="col-md-4">
                              <div class="panel panel-default">
                                 <div class="panel-body" style="padding:5px !important;">
                                    <a ng-href="{{s3Url}}download/pdf01.pdf" target="_blank" title="Mining with Coinomia"><img ng-src="{{s3Url}}download/pdf01.jpg" class="img-responsive" /> </a>
                                 </div>
                                 <div align="center" class="panel-footer"><a ng-href="{{s3Url}}download/pdf01.pdf" target="_blank" title="Mining with Coinomia"><strong >Mining with Coinomia</strong></a><br />
                                    <a ng-href="{{s3Url}}download/pdf01.zip"  title="Download PDF" class="mar20"><button type="button" class="btn btn-red btn-xs pull-right"><i class="fa fa-download"></i> Download</button></a>
                                 </div>
                              </div>
                           </div>
                           <div class="col-md-4">
                              <div class="panel panel-default">
                                 <div class="panel-body" style="padding:5px !important;">
                                    <a ng-href="{{s3Url}}download/pdf02.pdf" target="_blank" title="Compensation Plan"><img ng-src="{{s3Url}}download/pdf02.jpg" class="img-responsive" /> </a>
                                 </div>
                                 <div align="center" class="panel-footer"><a ng-href="{{s3Url}}download/pdf02.pdf" target="_blank" title="Compensation Plan"><strong >Compensation Plan</strong></a><br />
                                    <a ng-href="{{s3Url}}download/pdf02.zip"  title="Download PDF" class="mar20"><button type="button" class="btn btn-red btn-xs pull-right"><i class="fa fa-download"></i> Download</button></a>
                                 </div>
                              </div>
                           </div>
                           <div class="col-md-4">
                              <div class="panel panel-default">
                                 <div class="panel-body" style="padding:5px !important;">
                                    <a ng-href="{{s3Url}}download/pdf03.pdf" target="_blank" title="Elaborated Compensation Plan"><img ng-src="{{s3Url}}download/pdf03.jpg" class="img-responsive" /> </a>
                                 </div>
                                 <div align="center" class="panel-footer"><a ng-href="{{s3Url}}download/pdf03.pdf" target="_blank" title="Compensation Plan"><strong >Elaborated Compensation Plan</strong></a><br />
                                    <a ng-href="{{s3Url}}download/pdf03.zip"  title="Download PDF" class="mar20"><button type="button" class="btn btn-red btn-xs pull-right"><i class="fa fa-download"></i> Download</button></a>
                                 </div>
                              </div>
                           </div>
                           <div class="col-md-4">
                              <div class="panel panel-default">
                                 <div class="panel-body" style="padding:5px !important;">
                                    <a ng-href="{{s3Url}}download/elaborated-plan-china.pdf" target="_blank" title="Elaborated Plan China"><img ng-src="{{s3Url}}download/elaborated-plan-china.jpg" class="img-responsive" /> </a>
                                 </div>
                                 <div align="center" class="panel-footer"><a ng-href="{{s3Url}}download/elaborated-plan-china.pdf" target="_blank" title="Elaborated Plan China"><strong >Elaborated Plan China</strong></a><br />
                                    <a ng-href="{{s3Url}}download/elaborated-plan-china.zip"  title="Download PDF" class="mar20"><button type="button" class="btn btn-red btn-xs pull-right"><i class="fa fa-download"></i> Download</button></a>
                                 </div>
                              </div>
                           </div>
                           <!-- New Presentation -->
                           <div class="col-md-4">
                              <div class="panel panel-default">
                                 <div class="panel-body" style="padding:5px !important;">
                                    <a ng-href="{{s3Url}}download/elaborated-plan-france.pdf" target="_blank" title="Elaborated Plan France"><img ng-src="{{s3Url}}download/elaborated-plan-france.jpg" class="img-responsive" /> </a>
                                 </div>
                                 <div align="center" class="panel-footer"><a ng-href="{{s3Url}}download/elaborated-plan-france.pdf" target="_blank" title="Elaborated Plan France"><strong >Elaborated Plan France</strong></a><br />
                                    <a ng-href="{{s3Url}}download/elaborated-plan-france.zip"  title="Download PDF" class="mar20"><button type="button" class="btn btn-red btn-xs pull-right"><i class="fa fa-download"></i> Download</button></a>
                                 </div>
                              </div>
                           </div>
                           <div class="col-md-4">
                              <div class="panel panel-default">
                                 <div class="panel-body" style="padding:5px !important;">
                                    <a ng-href="{{s3Url}}download/elaborated-plan-germany.pdf" target="_blank" title="Elaborated Plan Germany"><img ng-src="{{s3Url}}download/elaborated-plan-germany.jpg" class="img-responsive" /> </a>
                                 </div>
                                 <div align="center" class="panel-footer"><a ng-href="{{s3Url}}download/elaborated-plan-germany.pdf" target="_blank" title="Elaborated Plan Germany"><strong >Elaborated Plan Germany</strong></a><br />
                                    <a ng-href="{{s3Url}}download/elaborated-plan-germany.zip"  title="Download PDF" class="mar20"><button type="button" class="btn btn-red btn-xs pull-right"><i class="fa fa-download"></i> Download</button></a>
                                 </div>
                              </div>
                           </div>
                           <div class="col-md-4">
                              <div class="panel panel-default">
                                 <div class="panel-body" style="padding:5px !important;">
                                    <a ng-href="{{s3Url}}download/elaborated-plan-italy.pdf" target="_blank" title="Elaborated Plan Italy"><img ng-src="{{s3Url}}download/elaborated-plan-italy.jpg" class="img-responsive" /> </a>
                                 </div>
                                 <div align="center" class="panel-footer"><a ng-href="{{s3Url}}download/elaborated-plan-italy.pdf" target="_blank" title="Elaborated Plan Italy"><strong >Elaborated Plan Italy</strong></a><br />
                                    <a ng-href="{{s3Url}}download/elaborated-plan-italy.zip"  title="Download PDF" class="mar20"><button type="button" class="btn btn-red btn-xs pull-right"><i class="fa fa-download"></i> Download</button></a>
                                 </div>
                              </div>
                           </div>
                           <div class="col-md-4">
                              <div class="panel panel-default">
                                 <div class="panel-body" style="padding:5px !important;">
                                    <a ng-href="{{s3Url}}download/elaborated-plan-russia.pdf" target="_blank" title="Elaborated Plan Russia"><img ng-src="{{s3Url}}download/elaborated-plan-russia.jpg" class="img-responsive" /> </a>
                                 </div>
                                 <div align="center" class="panel-footer"><a ng-href="{{s3Url}}download/elaborated-plan-russia.pdf" target="_blank" title="Elaborated Plan Russia"><strong >Elaborated Plan Russia</strong></a><br />
                                    <a ng-href="{{s3Url}}download/elaborated-plan-russia.zip"  title="Download PDF" class="mar20"><button type="button" class="btn btn-red btn-xs pull-right"><i class="fa fa-download"></i> Download</button></a>
                                 </div>
                              </div>
                           </div>
                           <div class="col-md-4">
                              <div class="panel panel-default">
                                 <div class="panel-body" style="padding:5px !important;">
                                    <a ng-href="{{s3Url}}download/elaborated-plan-poland.pdf" target="_blank" title="Elaborated Plan Poland"><img src="{{s3Url}}download/elaborated-plan-poland.jpg" class="img-responsive"> </a>
                                 </div>
                                 <div align="center" class="panel-footer"><a href="{{s3Url}}download/elaborated-plan-poland.pdf" target="_blank" title="Elaborated Plan Poland"><strong>Elaborated Plan Poland</strong></a><br>
                                    <a ng-href="{{s3Url}}download/elaborated-plan-poland.zip" title="Download PDF" class="mar20"><button type="button" class="btn btn-red btn-xs pull-right"><i class="fa fa-download"></i> Download</button></a>
                                 </div>
                              </div>
                           </div>
                           <div class="col-md-4">
                              <div class="panel panel-default">
                                 <div class="panel-body" style="padding:5px !important;">
                                    <a href="{{s3Url}}download/Elaborated+Compensation+Plan+(Arabic).pdf" target="_blank" title="Elaborated Compensation Plan(Arabic)"><img src="{{s3Url}}download/elaborated-compensation-plan-arabic.jpg" class="img-responsive"> </a> 
                                 </div>
                                 <div align="center" class="panel-footer">
                                    <a href="{{s3Url}}download/Elaborated+Compensation+Plan+(Arabic).pdf" target="_blank" title="Elaborated Compensation Plan(Arabic)"><strong>Elaborated Compensation Plan (Arabic)</strong></a><br>
                                    <a href="{{s3Url}}download/Elaborated+Compensation+Plan+(Arabic).zip" title="Download PDF" class="mar20"><button type="button" class="btn btn-red btn-xs pull-right"><i class="fa fa-download"></i> Download</button></a>
                                 </div>
                              </div>
                           </div>
                           <div class="col-md-4">
                              <div class="panel panel-default">
                                 <div class="panel-body" style="padding:5px !important;">
                                    <a href="{{s3Url}}download/Elaborated+Compensation+Plan+(Indonesia).pdf" target="_blank" title="Elaborated Compensation Plan(Indonesia)"><img src="{{s3Url}}download/elaborated-compensation-plan-indonesia.jpg" class="img-responsive"> </a> 
                                 </div>
                                 <div align="center" class="panel-footer">
                                    <a href="{{s3Url}}download/Elaborated+Compensation+Plan+(Indonesia).pdf" target="_blank" title="Elaborated Compensation Plan(Indonesia)"><strong>Elaborated Compensation Plan (Indonesia)</strong></a><br>
                                    <a href="{{s3Url}}download/Elaborated+Compensation+Plan+(Indonesia).zip" title="Download PDF" class="mar20"><button type="button" class="btn btn-red btn-xs pull-right"><i class="fa fa-download"></i> Download</button></a>
                                 </div>
                              </div>
                           </div>
                           <div class="col-md-4">
                              <div class="panel panel-default">
                                 <div class="panel-body" style="padding:5px !important;">
                                    <a href="{{s3Url}}download/Elaborated+Compensation+Plan+(Philippines).pdf" target="_blank" title="Elaborated Compensation Plan(Philippines)"><img src="{{s3Url}}download/elaborated-compensation-plan-philippines.jpg" class="img-responsive"> </a> 
                                 </div>
                                 <div align="center" class="panel-footer"><a href="{{s3Url}}download/Elaborated+Compensation+Plan+(Philippines).pdf" target="_blank" title="Elaborated Compensation Plan(Philippines)"><strong>Elaborated Compensation Plan (Philippines)</strong></a><br>
                                    <a href="{{s3Url}}download/Elaborated+Compensation+Plan+(Philippines).zip" title="Download PDF" class="mar20"><button type="button" class="btn btn-red btn-xs pull-right"><i class="fa fa-download"></i> Download</button></a>
                                 </div>
                              </div>
                           </div>
                           <div class="col-md-4">
                              <div class="panel panel-default">
                                 <div class="panel-body" style="padding:5px !important;">
                                    <a href="{{s3Url}}download/Elaborated+Compensation+Plan+(Portugal).pdf" target="_blank" title="Elaborated Compensation Plan(Portugal)">
                                    <img src="{{s3Url}}download/elaborated-compensation-plan-portugal.jpg" class="img-responsive"> </a> 
                                 </div>
                                 <div align="center" class="panel-footer">
                                    <a href="{{s3Url}}download/Elaborated+Compensation+Plan+(Portugal).pdf" target="_blank" title="Elaborated Compensation Plan(Portugal)"><strong>Elaborated Compensation Plan (Portugal)</strong></a><br>
                                    <a href="{{s3Url}}download/Elaborated+Compensation+Plan+(Portugal).zip" title="Download PDF" class="mar20"><button type="button" class="btn btn-red btn-xs pull-right"><i class="fa fa-download"></i> Download</button></a>
                                 </div>
                              </div>
                           </div>
                           <div class="col-md-4">
                              <div class="panel panel-default">
                                 <div class="panel-body" style="padding:5px !important;">
                                    <a href="{{s3Url}}download/Elaborated+Compensation+Plan+(Spanish).pdf" target="_blank" title="Elaborated Compensation Plan(Spanish)"><img src="{{s3Url}}download/elaborated-compensation-plan-spanish.jpg" class="img-responsive"> </a> 
                                 </div>
                                 <div align="center" class="panel-footer"><a href="{{s3Url}}download/Elaborated+Compensation+Plan+(Spanish).pdf" target="_blank" title="Elaborated Compensation Plan(Spanish)"><strong>Elaborated Compensation Plan (Spanish)</strong></a><br>
                                    <a href="{{s3Url}}download/Elaborated+Compensation+Plan+(Spanish).zip" title="Download PDF" class="mar20"><button type="button" class="btn btn-red btn-xs pull-right"><i class="fa fa-download"></i> Download</button></a>
                                 </div>
                              </div>
                           </div>
                           <!--  -->
                           <div></div>
                        </div>
                     </div>
                     <div class="tab-pane banner" ng-class="(activeTab==='banner'?'active':'')">
                        <h2 class="mb35-sm top-spacemob10"><i class="fa fa-clone icon-lg-red border-round-red" style="padding-left:5px;" aria-hidden="true"></i> <strong>Banner</strong></h2>
                        <hr />
                        <div class="panel panel-default">
                           <div class="panel-body">
                              <div class="col-md-12 mobile-scroll"><strong>Example Link : </strong>&lt;a href=&quot;{{signUpPath}}?id={{sponsorId}}&bannerid={{banners[0].bannerid}}&quot; target=&quot;_blank&quot;&gt;&lt;img src=&quot;{{banners[0].bannerimage}}&quot; alt=&quot;{{name}}&quot; height=&quot;90&quot; width=&quot;728&quot; /&gt;&lt;/a&gt;
                              </div>
                              <br />
                              <strong style="color:#f00;">** Note: Please don't share above link, it is an example link.</strong> <br />
                              Please generate your own banner referral link by typing its name and click on "Get Your Banner Referral Link" button shown below<br />
                              <br />
                              <hr />
                              <div class="col-md-12 mb30 banner-section" ng-repeat="(key,bannerInfo) in banners">
                                 <h4 class="total-amount"><strong>Banner Name: {{bannerInfo.bannername}} ({{bannerInfo.bannerwidth}} x {{bannerInfo.bannerheight}})</strong></h4>
                                 <strong class="pull-right">Height: {{bannerInfo.bannerheight}} Width: {{bannerInfo.bannerwidth}}</strong><br />
                                 <img class="img-responsive" ng-src="{{bannerInfo.bannerimage}}" />
                                 <form class="mar20">
                                    <div class="col-md-6 nomargin nopadding">
                                       <input type="text" name="banner-name" ng-model="bannerName" class="form-control" />
                                    </div>
                                    <div class="col-md-6">
                                       <button ng-click="createBanner(key, bannerName)" class="btn btn-default yelo-btn">
                                       <strong>Create Your Banner</strong>
                                       </button>
                                    </div>
                                    <div class="row">
                                       <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8" ng-show="bannerInfo.showCode">
                                          <div class="alert alert-success fade in">
                                             <strong><i class="fa fa-check-circle fa-lg" aria-hidden="true"></i></strong> Banner created succesfully.
                                          </div>
                                       </div>
                                       <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 box-gry mobile-scroll" ng-show="bannerInfo.showCode">
                                          &lt;a href=&quot;{{signUpPath}}?id={{sponsorId}}&bannerid={{bannerInfo.bannerid}}&campaignid={{campaignId}}&quot; target=&quot;_blank&quot;&gt;&lt;img src=&quot;{{bannerInfo.bannerimage}}&quot; alt=&quot;{{name}}&quot; height=&quot;{{bannerInfo.bannerheight}}&quot; width=&quot;{{bannerInfo.bannerwidth}}&quot; /&gt;&lt;/a&gt;
                                       </div>
                                    </div>
                                    <div class="clearfix"></div>
                                 </form>
                              </div>
                           </div>
                           <div></div>
                        </div>
                     </div>
                     <div class="tab-pane email-samples" ng-class="(activeTab==='email-samples'?'active':'')">
                        <h2 class="mb35-sm top-spacemob10"><i class="fa fa-envelope-o icon-lg-red border-round-red" style="padding-left:5px;" aria-hidden="true"></i> <strong>Email Samples</strong></h2>
                        <hr />
                        <div class="row" >
                           <div class="col-md-2">
                              <div class="number"><img ng-src="{{s3Url}}email1.png" class="img-responsive" /></div>
                           </div>
                           <div class="col-md-10">
                              <div class="email-sample"><strong>Subject Lines :
                                 Private Invite -> Biggest MLM Launch of 2016 -->. Earn Upto $65,610/Day</strong> <br /><br />
                                 <strong>Body :</strong> Hey Would Like You To Check out this Private VIP Prelaunch which has the potential to make upto $65,610/Day . <br />
                                 Some of the biggest industry names are already a part of it now and it is growing viral<br /><br />
                                 <strong>==>> Link</strong><br /><br />
                                 It's a never heard before concept where user's have the potential to be crypto currency miners and earn daily bitcoins , etherium's and other alt coins on complete autopilot...<br />
                                 Right Now You Can Create Your Account For Free And Get Started Immediately And Start Building Your Network Before They Officially Go Live
                                 Check it out<br /><br />
                                 <strong>==>> Link</strong><br /><br />
                                 <strong>Name</strong>
                              </div>
                           </div>
                        </div>
                        <Div class="clearfix"></Div>
                        <div class="row" >
                           <div class="col-md-2">
                              <div class="number"><img ng-src="{{s3Url}}email2.png" class="img-responsive" /></div>
                           </div>
                           <div class="col-md-10">
                              <div class="email-sample">
                                 <strong>Subject : Secure Your Free Spot Now !</strong><br /><br />
                                 <strong>Body : </strong>
                                 Products you can offer millions,
                                 products in the 15 BILLION DOLLAR
                                 Crypto Currency industry!<br /><br />
                                 <em><strong>In prelaunch now.</strong></em><br /><br />
                                 Earning Potential Upto $65,610/Day<br /><br />
                                 Tell your contacts now before others do. <br /><br />
                                 Get An Affiliate Link In 10 Seconds Here<br /><br />
                                 <strong>==>> Link </strong><br />
                                 Then send this same email with your affiliate link
                                 and/or share it with your friends on your Facebook wall.<br />
                                 <br />
                                 <strong>-Name</strong>
                              </div>
                           </div>
                        </div>
                        <Div class="clearfix"></Div>
                        <div class="row" >
                           <div class="col-md-2">
                              <div class="number"><img ng-src="{{s3Url}}email3.png" class="img-responsive" /></div>
                           </div>
                           <div class="col-md-10">
                              <div class="email-sample">
                                 <strong> Subject : URGENT: About Your New Crypto Currency Mining Setup.</strong><br /><br />
                                 <strong>Body : </strong>
                                 Your crypto currency mining setup is live and ready to start
                                 mining bitcoins , etherium's and other alt coins
                                 on complete autopilot : <br />
                                 <br />
                                 Take a look at it here<br /><br />
                                 <strong>==>> Link</strong><br /><br />
                                 Like you've heard me say before,
                                 the whole financial system is changing
                                 and crypto currencies are the future of money...<br />
                                 <br />
                                 It's time we start having them on autopilot<br />
                                 <br />
                                 <strong>==>> Link</strong><br />
                                 <br />
                                 Cheers,<br />
                                 Name
                              </div>
                           </div>
                        </div>
                        <Div class="clearfix"></Div>
                        <div class="row" >
                           <div class="col-md-2">
                              <div class="number"><img ng-src="{{s3Url}}email4.png" class="img-responsive" /></div>
                           </div>
                           <div class="col-md-10">
                              <div class="email-sample">
                                 <strong> Subject Line : Waaaay too easy!</strong><br />
                                 <br />
                                 <strong>Body : </strong>
                                 I am going to show you a waaaaay
                                 too easy way to start earning crypto-currencies
                                 like bitcoins , etherium and other alt coins on complete
                                 autopilot here<br />
                                 <br />
                                 <strong>==>> Link</strong><br />
                                 <br />
                                 Oh and the best part it, it's not only
                                 quick, but they also offer a business opportuntiy
                                 which is currently in prelaunch and earning potential
                                 is upto $65,610/Day <br />
                                 <br />
                                 <strong>It's Free To Join  : Check it out</strong><br />
                                 <br />
                                 <strong>==>> Link</strong><br />
                                 <br />
                                 Enjoy,<br />
                                 Name
                              </div>
                           </div>
                        </div>
                     </div>
                     <div class="tab-pane sms-blast" ng-class="(activeTab==='sms-blast'?'active':'')">
                        <h2 class="mb35-sm top-spacemob10"><i class="fa fa-mobile icon-lg-red border-round-red" style="padding-left:3px;" aria-hidden="true"></i> <strong>SMS Blast</strong></h2>
                        <hr />
                        <div class="row">
                           <div class="col-md-7 col-sm-12 sms-blast">
                              <br />
                              <br />
                              <strong>1.</strong> Be A Crypto Currency Miner And Start Earning Your First Bitcoins, Etherium and Other Alt Coins On Complete Autopilot! <strong>Hurry up and create a free account!</strong><br />
                              <hr />
                              <strong>2.</strong> I just joined a brand new business for free where the earning potential is <strong>upto $65,610/Day</strong> - Check it out<br />
                              <hr />
                              <strong>3.</strong> Biggest MLM Prelaunch of 2016 Has Started - <strong>Create Your Free Account Now</strong> And Get Automatic Spillovers With Earning Potential Of<strong> Upto $65,610/Day</strong><br />
                              <hr />
                              <strong>4.</strong>Hey Would Like You To Check out this Private VIP Prelaunch which has the potential to make upto<strong> $65,610/Day</strong> . Some of the<strong> biggest industry names are already a part of it now and it is growing viral</strong><br />
                              <br />
                           </div>
                           <div class="col-md-5 col-sm-12" align="center"><img ng-src="{{s3Url}}sms-blast.png" width="300" class="img-responsive" ></div>
                        </div>
                     </div>
                     <div class="tab-pane social-blast" ng-class="(activeTab==='social-blast'?'active':'')">
                        <h2 class="mb35-sm top-spacemob10"><i class="fa fa-magic icon-lg-red border-round-red" style="padding-left:7px;" aria-hidden="true"></i> <strong>Social Blast</strong></h2>
                        <hr />
                        <div class="row">
                           <div class="col-md-7 sms-blast">
                              <h4 class="video-text"> <i class="fa fa-snapchat" aria-hidden="true"></i>
                                 <strong>Snapchat</strong>
                              </h4>
                              <br /><br />
                              <strong>1.</strong> Biggest binary MLM Prelaunch! Can't believe I have the potential to <strong>make $65610 daily!</strong> <br />
                              <hr />
                              <strong>2.</strong> Be a Miner And Start <strong>Earning Your First Cryptocurrency</strong> On Complete Autopilot!<br />
                              <hr />
                              <strong>3.</strong> <strong>Me and my team are earning daily!</strong> You can also join us and enjoy the riches!<br />
                              <hr />
                              <strong>4.</strong><strong>Join For Free And Start Earning</strong> Your First Bitcoin On Autopilot<br />
                              <br /><br />
                              <br />
                              <h4 class="video-text"> <i class="fa fa-twitter" aria-hidden="true"></i>
                                 <strong>Twitter</strong>
                              </h4>
                              <br />
                              <br />
                              <strong>1.</strong> <strong>Me and my team is earning daily!</strong> You can also join us and enjoy the bliss! The Biggest Binary MLM prelaunch of 2016 is here!<br />
                              <hr />
                              <strong>2.</strong> I am earning upto <strong>$65610 daily & I invite you to join me to get the benefits!</strong> Use my link and be a part of the biggest binary MLM prelaunch 2016!<br />
                              <hr />
                              <strong>3.</strong> Be <strong>A Crypto Currency Miner And Start Earning Your First Bitcoins</strong>, Etherium and Other Alt Coins On Complete Autopilot!
                           </div>
                           <div class="col-md-5" align="center"><img ng-src="{{s3Url}}snapchat.png" width="300" /></div>
                        </div>
                     </div>
                     <div class="tab-pane fb-private" ng-class="(activeTab==='fb-private'?'active':'')">
                        <h2 class="mb35-sm top-spacemob10"><i class="fa fa-facebook icon-lg-red border-round-red" style="padding-left:5px;" aria-hidden="true"></i> <strong>FB Private Messages</strong></h2>
                        <hr />
                        <div class="row" >
                           <div class="col-md-2">
                              <div class="number"><img ng-src="{{s3Url}}fb1.png" class="img-responsive" /></div>
                           </div>
                           <div class="col-md-10">
                              <div class="email-sample">
                                 <strong>Body :</strong> Hey Would Like You To Check out this Private VIP Prelaunch which has the potential to make upto $65,610/Day . <br />
                                 Some of the biggest industry names are already a part of it now and it is growing viral<br /><br />
                                 <strong>==>> Link</strong><br /><br />
                                 It's a never heard before concept where user's have the potential to be crypto currency miners and earn daily bitcoins , etherium's and other alt coins on complete autopilot...<br />
                                 Right Now You Can Create Your Account For Free And Get Started Immediately And Start Building Your Network Before They Officially Go Live
                                 Check it out<br /><br />
                                 <strong>==>> Link</strong><br /><br />
                                 <strong>Name</strong>
                              </div>
                           </div>
                        </div>
                        <Div class="clearfix"></Div>
                        <div class="row" >
                           <div class="col-md-2">
                              <div class="number"><img ng-src="{{s3Url}}fb2.png" class="img-responsive" /></div>
                           </div>
                           <div class="col-md-10">
                              <div class="email-sample">
                                 <strong>Body : </strong>
                                 Products you can offer millions,
                                 products in the 15 BILLION DOLLAR
                                 Crypto Currency industry!<br /><br />
                                 <em><strong>In prelaunch now.</strong></em><br /><br />
                                 Earning Potential Upto $65,610/Day<br /><br />
                                 Tell your contacts now before others do. <br /><br />
                                 Get An Affiliate Link In 10 Seconds Here<br /><br />
                                 <strong>==>> Link </strong><br />
                                 Then send this same email with your affiliate link
                                 and/or share it with your friends on your Facebook wall.<br />
                                 <br />
                                 <strong>-Name</strong>
                              </div>
                           </div>
                        </div>
                        <Div class="clearfix"></Div>
                        <div class="row" >
                           <div class="col-md-2">
                              <div class="number"><img ng-src="{{s3Url}}fb3.png" class="img-responsive" /></div>
                           </div>
                           <div class="col-md-10">
                              <div class="email-sample">
                                 <strong>Body : </strong>
                                 Your crypto currency mining setup is live and ready to start
                                 mining bitcoins , etherium's and other alt coins
                                 on complete autopilot : <br />
                                 <br />
                                 Take a look at it here<br /><br />
                                 <strong>==>> Link</strong><br /><br />
                                 Like you've heard me say before,
                                 the whole financial system is changing
                                 and crypto currencies are the future of money...<br />
                                 <br />
                                 It's time we start having them on autopilot<br />
                                 <br />
                                 <strong>==>> Link</strong><br />
                                 <br />
                                 Cheers,<br />
                                 Name
                              </div>
                           </div>
                        </div>
                        <Div class="clearfix"></Div>
                        <div class="row" >
                           <div class="col-md-2">
                              <div class="number"><img ng-src="{{s3Url}}fb4.png" class="img-responsive" /></div>
                           </div>
                           <div class="col-md-10">
                              <div class="email-sample">
                                 <strong>Body : </strong>
                                 I am going to show you a waaaaay
                                 too easy way to start earning crypto-currencies
                                 like bitcoins , etherium and other alt coins on complete
                                 autopilot here<br />
                                 <br />
                                 <strong>==>> Link</strong><br />
                                 <br />
                                 Oh and the best part it, it's not only
                                 quick, but they also offer a business opportuntiy
                                 which is currently in prelaunch and earning potential
                                 is upto $65,610/Day <br />
                                 <br />
                                 <strong>It's Free To Join  : Check it out</strong><br />
                                 <br />
                                 <strong>==>> Link</strong><br />
                                 <br />
                                 Enjoy,<br />
                                 Name
                              </div>
                           </div>
                        </div>
                     </div>
                     <div class="tab-pane social-group" ng-class="(activeTab==='social-group'?'active':'')">
                        <h2 class="mb35-sm top-spacemob10"><i class="fa fa-facebook icon-lg-red border-round-red" style="padding-left:5px;" aria-hidden="true"></i> <strong>Social Groups</strong></h2>
                        <hr />
                        <p style="text-align:justify;">Make the best use of the Social Platforms to expand your network. Join our Facebook Group and start following leaders and approaching users. Follow our Facebook page for all the latest updates and notifications. Subscribe to our you tube channel  to get the latest updated videos and learn the tricks of the trade. You can also share these videos, presentations and all the essentials through your twitter handle, G+ and facebook account.<br />
                           <br />
                           Get an Edge over others with Social Media Marketing and promote Coinomia to build a stronger  team  with every passing minute.
                        </p>
                        <h4>Time is precious. Get going!!!</h4>
                        <br />
                        <div class="row">
                           <div class="col-md-6">
                              <a href="https://www.facebook.com/groups/coinomiacorporate/" title="Our Facebook Group" target="_blank" style="color:#666;">
                                 <div class="fb-btn"><i class="fa fb-color fa-facebook-square fa-5x" aria-hidden="true"></i>
                                    Our Facebook Group
                                 </div>
                              </a>
                              <a href="https://www.facebook.com/Coinomia-1077562372325251/" target="_blank" title="Facebook Page" style="color:#666;">
                                 <div class="fb-btn"><i class="fa fb-color fa-facebook-square fa-5x" aria-hidden="true"></i>
                                    Facebook Page
                                 </div>
                              </a>
                              <!-- <a href="#" style="color:#666;">
                                 <div class="fb-btn"><i class="fa twitter-btn fa-twitter-square fa-5x" aria-hidden="true"></i>
                                   Twitter
                                 </div>
                                 </a>
                                 <a href="#" style="color:#666;">
                                 <div class="fb-btn"><i class="fa gplus fa-google-plus-square" aria-hidden="true"></i>
                                   Google Plus
                                 </div>
                                 </a> -->
                              <a href="https://www.youtube.com/channel/UCQA22mJPGyMx3ZTDM8uEfyw" target="_blank" title="Youtube" style="color:#666;">
                                 <div class="fb-btn"><i class="fa gplus fa-youtube-square" aria-hidden="true"></i>
                                    Youtube
                                 </div>
                              </a>
                           </div>
                           <div class="col-md-6"><img ng-src="{{s3Url}}social-groups.png" class="img-responsive" /></div>
                        </div>
                     </div>
                     <div class="tab-pane campaign">
                        <h2 class="mb37 mar10" align="center" style="width:40%;">
                           <span class="glyphicon glyphicon-minus"></span>
                           Campaign<span class="glyphicon glyphicon-minus"></span>
                        </h2>
                        <br>
                        <!-- Nav tabs -->
                        <ul class="nav nav-tabs" role="tablist" style="background:#ccc !important; color:#525252 !important;">
                           <li role="presentation" class="active" ng-click="reports('referral')">
                              <a href=".dmp" aria-controls="dmp" role="tab" data-toggle="tab" aria-expanded="true"><strong><i class="fa fa-list-alt " aria-hidden="true"></i> Referral Campaign</strong></a>
                           </li>
                           <li role="presentation" ng-click="reports('referral')" style="border-right:1px solid #fff;">
                              <a href=".rmp" aria-controls="rmp" role="tab" data-toggle="tab" aria-expanded="false"><strong><i class="fa fa-list-alt " aria-hidden="true"></i>  Referral Campaign Reports</strong></a>
                           </li>
                           <li role="presentation" ng-click="reports('banner')">
                              <a href=".bnrr" aria-controls="bnrr" role="tab" data-toggle="tab" aria-expanded="false"><strong><i class="fa fa-list-alt " aria-hidden="true"></i> Banner Report
                              </strong></a>
                           </li>
                        </ul>
                        <!-- Tab panes -->
                        <div class="tab-content" style="border:0px !important">
                           <div role="tabpanel" class="tab-pane dmp active">
                              <br>
                              <h2 class="mb35-sm top-spacemob10"><i class="fa fa-list-alt icon-lg-red border-round-red" style="padding-left:5px;" aria-hidden="true"></i> <strong>Referral Campaign</strong></h2>
                              <hr>
                              <div class="table-responsive">
                                 <div class="ref-box yelo-text01"><i class="fa fa-check-square-o" aria-hidden="true"></i>
                                    <span id="copy-text-clipboard"></span> <button class="pull-right copy-btn " ng-click="getReferralLinks()"><i class="fa fa-chain "></i> Get Referral Link </button>
                                 </div>
                                 <div class="table-responsive">
                                    <table class="table table-dark-gry table-hover mb30 font16">
                                       <thead style="background:#525252;">
                                          <tr style="color:#525252;">
                                             <td><strong class="white-color">S.No</strong></td>
                                             <td><strong class="white-color">Title</strong></td>
                                             <td><strong class="white-color">Refferal Link</strong></td>
                                             <td><strong class="white-color">Action</strong></td>
                                          </tr>
                                       </thead>
                                       <tbody>
                                          <tr ng-if="loadingData==true">
                                             <td>Loading data ... </td>
                                          </tr>
                                          <tr ng-repeat="referralReport in allReports">
                                             <td>{{$index+1}}</td>
                                             <td class="text-capitalize"><strong>{{referralReport.title}}</strong> </td>
                                             <td>{{referralReport.title}}<br />
                                                <small class="red-text02">{{referralReport.path}}{{sponsorId}}&amp;campaignid&#61;{{referralReport.campaignid}}</small>
                                             </td>
                                             <td><i class="fa fa-times" aria-hidden="true"></i>
                                                Delete
                                             </td>
                                          </tr>
                                       </tbody>
                                    </table>
                                    <!-- <div align="right">
                                       <ul class="pagination pagination-metro nomargin mt10">
                                          <li class="disabled"><a href="#"><i class="fa fa-angle-left"></i></a></li>
                                          <li><a href="#">1</a></li>
                                          <li class="active"><a href="#">2</a></li>
                                          <li><a href="#">3</a></li>
                                          <li><a href="#">4</a></li>
                                          <li><a href="#">5</a></li>
                                          <li><a href="#"><i class="fa fa-angle-right"></i></a></li>
                                       </ul>
                                       </div> -->
                                 </div>
                              </div>
                           </div>
                           <div role="tabpanel" class="tab-pane rmp">
                              <br>
                              <h2 class="mb35-sm top-spacemob10"><i class="fa fa-list-alt icon-lg-red border-round-red" style="padding-left:5px;" aria-hidden="true"></i> <strong>Referral Campaign Reports</strong></h2>
                              <hr>
                              <div class="table-responsive">
                                 <table class="table table-dark-gry table-hover mb30 font16">
                                    <thead style="background:#525252;">
                                       <tr style="color:#525252;">
                                          <!-- <td><strong class="white-color">Created at</strong></td> -->
                                          <td><strong class="white-color">Campaign Name</strong></td>
                                          <td><strong class="white-color">Visits</strong></td>
                                          <td><strong class="white-color">Signups</strong></td>
                                       </tr>
                                    </thead>
                                    <tbody>
                                       <tr ng-if="loadingData==true">
                                          <td>Loading Data ...</td>
                                       </tr>
                                       <tr ng-repeat="referralReport in allReports">
                                          <td class="text-capitalize"><strong>{{referralReport.campaignname}}</strong> </td>
                                          <td>
                                             <small class="red-text02">{{referralReport.visit | number}}</small>
                                          </td>
                                          <td>
                                             {{referralReport.register | number}}
                                          </td>
                                       </tr>
                                    </tbody>
                                 </table>
                                 <!-- <div align="right">
                                    <ul class="pagination pagination-metro nomargin mt10">
                                       <li class="disabled"><a href="#"><i class="fa fa-angle-left"></i></a></li>
                                       <li><a href="#">1</a></li>
                                       <li class="active"><a href="#">2</a></li>
                                       <li><a href="#">3</a></li>
                                       <li><a href="#">4</a></li>
                                       <li><a href="#">5</a></li>
                                       <li><a href="#"><i class="fa fa-angle-right"></i></a></li>
                                    </ul>
                                    </div> -->
                              </div>
                           </div>
                           <div role="tabpanel" class="tab-pane bnrr">
                              <br>
                              <h2 class="mb35-sm top-spacemob10"><i class="fa fa-list-alt icon-lg-red border-round-red" style="padding-left:5px;" aria-hidden="true"></i> <strong>Banner Report</strong></h2>
                              <hr>
                              <div class="table-responsive">
                                 <table class="table table-dark-gry table-hover mb30 font16">
                                    <thead style="background:#525252;">
                                       <tr style="color:#525252;">
                                          <td><strong class="white-color">Campaign Name</strong></td>
                                          <td><strong class="white-color">Visits</strong></td>
                                          <td><strong class="white-color">Sign Ups</strong></td>
                                       </tr>
                                    </thead>
                                    <tbody>
                                       <tr ng-if="loadingData==true">
                                          <td>Loading Data ...</td>
                                       </tr>
                                       <tr ng-repeat="bannerReport in allReports">
                                          <td class="text-capitalize"><strong>{{bannerReport.campaignname}}</strong> </td>
                                          <td>
                                             <small class="red-text02">{{bannerReport.visit | number}}</small>
                                          </td>
                                          <td>
                                             {{bannerReport.register | number}}
                                          </td>
                                       </tr>
                                    </tbody>
                                 </table>
                                 <!-- <div align="right">
                                    <ul class="pagination pagination-metro nomargin mt10">
                                       <li class="disabled"><a href="#"><i class="fa fa-angle-left"></i></a></li>
                                       <li><a href="#">1</a></li>
                                       <li class="active"><a href="#">2</a></li>
                                       <li><a href="#">3</a></li>
                                       <li><a href="#">4</a></li>
                                       <li><a href="#">5</a></li>
                                       <li><a href="#"><i class="fa fa-angle-right"></i></a></li>
                                    </ul>
                                    </div> -->
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
         <!-- contentpanel -->
      </div>
      <main-footer></main-footer>
   </div>
   <!-- mainwrapper -->
</section>