<main-header></main-header>
<section>
  <div class="mainwrapper">
    <navigation></navigation>
    <style>.nav-tabs > li > a{ padding: 14px 45px !important; color:#fff !important;
      }.nav-tabs{background: #d9534f  none repeat scroll 0 0 !important;}.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus{ background:#b73632 !important;}
    </style>
    <div class="mainpanel">
      <div class="pageheader">
        <!-- media -->
        <news-feeds></news-feeds>
        <!-- media -->
      </div>
      <!-- pageheader -->
      <!-- <coming-soon text-attr="landingPages"></coming-soon> -->
      <div class="contentpanel">
        <div  style="min-height:700px;">
          <div class="col-md-12 nomargin nopadding">
            <h2 class="mb35"><i class="fa fa-link  icon-lg border-round" aria-hidden="true" style="padding-top:10px; padding-left:10px;"></i> <strong>My Referal Links</strong></h2>
            <hr />
            <div class="table-responsive">
              <div class="alert alert-success" role="alert"><strong>Note</strong> : Your Coinomia Landing Page title01 Page is Active Now</div>
              <div class="ref-box yelo-text01"><i class="fa fa-check-square-o" aria-hidden="true"></i>
                http://www.sdfsdjk.com/?49283ksdjskfjh3298/sdfjsdk/ewurewi
              </div>
              <table class="table table-dark-gry table-hover mb30 font16">
                <thead style="background:#525252;">
                  <tr style="color:#525252;">
                    <td><strong class="white-color">S.No</strong></td>
                    <td><strong class="white-color">Title</strong></td>
                    <td><strong class="white-color">Refferal Link</strong></td>
                    <td><strong class="white-color">Action</strong></td>
                  </tr>
                </thead>
                <tr ng-repeat="referral in landingPages">
                  <td>{{$index+1}}</td>
                  <td><strong>{{referral.Title}}</strong> </td>
                  <td>{{referral.Title}}<br />
                    <small class="red-text02">{{referral.path}}{{sponsorId}}</small>
                  </td>
                  <td><button type="button" class="btn btn-warning">Default Page</button>	</td>
                </tr>
              </table>
            </div>
            <!-- table-responsive -->
          </div>
        </div>
      </div>
      <!-- contentpanel -->
    </div>
    <main-footer></main-footer>
  </div>
  <!-- mainwrapper -->
</section>
