<section>
  <div class="mainwrapper" style="min-height:800px">
  <navigation></navigation>
  <div class="mainpanel">
  <div class="pageheader">
    <div class="media">
      <div class="pageicon pull-left">
        <i class="fa fa-chain"></i>
      </div>
      <div class="media-body">
        <ul class="breadcrumb">
          <li><a href=""><i class="fa fa-home"></i></a></li>
          <li><a ng-href="dashboard.html">home</a></li>
        </ul>
        <h4>My Referal Links</h4>
      </div>
    </div>
    <!-- media -->
  </div>
  <!-- pageheader -->
  <div class="contentpanel">
    <div class="alert alert-info">
      <button aria-hidden="true" data-dismiss="alert" class="close" type="button">&times;</button>
      <strong>Welcome Elen Adarna!!!</strong>
    </div>
    <br />
    <br />
    <div class="container" style="min-height:700px;">
      <div class="col-md-12">
        <div class="table-responsive">
          <table class="table table-bordered table-hover">
            <thead>
              <td><strong>S.No</strong></td>
              <td><strong>Title</strong></td>
              <td><strong>Refferal Link</strong></td>
              <td><strong>Action</strong></td>
            </thead>
            <tr ng-repeat="info in landingPages">
              <td>{{$index+1}}</td>
              <td class="text-capitalize">{{info.Title}} </td>
              <td>{{info.path}}</td>
              <td><button type="button" class="btn btn-warning">Use this Landing Page</button>	</td>
            </tr>
          </table>
        </div>
        <!-- table-responsive -->
      </div>
    </div>
    <!-- panel -->
  </div>
</section>
