<main-header class="main-header"></main-header>
<section>
  <div class="mainwrapper">
    <navigation></navigation>
    <style>.nav-tabs > li > a{ padding: 14px 45px !important; color:#fff !important;
    }.nav-tabs{background: #d9534f  none repeat scroll 0 0 !important;}.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus{ background:#b73632 !important;}
    </style>
    <div class="mainpanel">
      <!-- <coming-soon text-value="'Mining'"></coming-soon> -->
      <div class="contentpanel">
       <div class="col-xs-12 col-md-12 nomargin nopadding" style="min-height:800px;">
         <h1 align="center" class="reward-main-heading-top"><img src="images/rankers.png" width="100"> <strong><u>Coinomia</u> <strong style="color:#d71818; font-family: Kaushan Script,cursive; font-size:60px; ">Leadership</strong> <u>Reward</u></strong></h1>
         <hr>
         <div class="tabbable-panel">
           <div class="tabbable-line">
             <div align="center">
               <ul class="nav nav-tabs reward-tab">
                 <li class="active">
                   <a href=".tab_default_4" data-toggle="tab">
                   <i class="fa fa-trophy icon-lg" aria-hidden="true"></i><br>
                   <strong>Leadership Reward</strong> </a>
                 </li>
                 <li>
                   <a href=".tab_default_5" data-toggle="tab">
                   <i class="fa fa-newspaper-o icon-lg" aria-hidden="true"></i><br>
                   <strong>Achievement History</strong> </a>
                 </li>
                 <li>
                   <a href=".tab_default_6" data-toggle="tab">
                   <i class="fa fa-users icon-lg" aria-hidden="true"></i><br>
                   <strong>Leaderboard Reward</strong> </a>
                 </li>
               </ul>
             </div>
             <div class="tab-content" style="padding:20px 20px; ">
               <div class="tab-pane tab_default_4 active">
                 <div class="row">
                   <div class="col-md-12 no-pad">
                     <img class="img-responsive" src="images/reward_banner01-01.jpg" style="width:100%;" />
                   </div>
                   <!--<div class="col-md-12 reward-main-banner">
                     <div class="col-md-4 icon text-center">
                       <img src="images/trophy.png" />
                     </div>
                     <div class="col-md-8 text-image">
                       <img class="img-responsive" src="images/text.png" />
                     </div>
                   </div>-->
                   <!--<img ng-src="{{s3Url}}reward-top-header.png" width="100%" style="border-bottom:5px solid #FC0; border-radius:10px 10px 0px 0px; margin-top:-10px;"><br>-->
                   <br>
                   <div class="col-md-12 no-pad">
                     <div ng-repeat="reward in rewards" style="float:left;margin-top:20px;">
                      <div class="{{reward.class}}">
                          <a title="Click More Details " data-toggle="collapse" data-target=".reward-{{$index}}" aria-expanded="false" aria-controls="reward-{{$index}}">
                            <div class="icon-section">
                              <img class="icon-img img-responsive" ng-src="images/rewards/{{reward.icon}}">
                            </div>
                            <div class="text-center title-section">
                              <img class="title-img" ng-src="images/rewards/{{reward.title}}">
                              <!--<h4 class="reward-main-heading"><strong class="text-uppercase">{{reward.title}}</strong> <br>
                                
                              </h4>-->
                              <h3 class="reward-title">{{reward.subtitle}}</h3>
                              <p> 
                                <span class="short-description" ng-bind-html="reward.shortDescription"></span>
                              </p>
                            </div>
                            <div align="right" class="reward-section reward-img" style=" margin:0px; padding:0px;">
                              <img class="img-responsive" ng-src="images/rewards/{{reward.prize}}" style="margin: 0 auto;">
                            </div>
                          </a>
                      </div>
                      <div class="collapse reward-{{$index}} reward col-xs-12 col-sm-12 col-md-12 no-pad">
                      
                        <div class="col-md-12 no-pad" ng-if="reward.type !== 'gold'">
                          <div class="col-md-6 text-center bronze-desc no-pad" ng-if="reward.type === 'ruby' || reward.type === 'doublediamond'">
                            <img class="bronze-reward" ng-src="images/rewards/{{reward.description.prize}}" ng-if="reward.noImage===false" />
                          </div>

                          <div class="col-md-5 bronze">
                              <img class="desc-title" ng-src="images/rewards/{{reward.description.title}}" />
                              <p class="reward-desc" ng-bind-html="reward.description.subtitle"></p>
                          </div>

                          <div class="col-md-7 text-center bronze-desc" ng-if="reward.type !== 'ruby' && reward.type !== 'doublediamond'">
                            <img class="bronze-reward" ng-src="images/rewards/{{reward.description.prize}}" ng-if="reward.noImage===false" />
                          </div>
                        </div>

                        <!-- Gold Pack-->
                        <div class="col-md-12 no-pad" ng-if="reward.type === 'gold'">
                          <div class="col-md-4 no-pad">
                            <img class="gold-reward img-responsive" ng-src="images/rewards/{{reward.description.prize1}}" width="300px" />
                          </div>
                          <div class="col-md-4 text-center" style="padding:40px 0 0;">
                            <img class="desc-title" ng-src="images/rewards/{{reward.description.title}}" />
                            <p class="reward-desc" ng-bind-html="reward.description.subtitle"></p>
                          </div>
                          <div class="col-md-4 no-pad">
                            <img class="gold-reward img-responsive" ng-src="images/rewards/{{reward.description.prize2}}" width="300px" />
                          </div>
                        </div>
                      </div>

                        <!--<div class="well">
                          <div class="reward-detail">
                            <img ng-src="{{s3Url}}{{reward.image}}" width="100%">
                          </div>
                        </div>-->
                    </div>                     
                   </div>
                 </div>
               </div>
               <div class="tab-pane tab_default_5" style="height:500px;">
                 <h2 class="mb35-sm top-spacemob10"><i class="fa fa-newspaper-o icon-lg-red border-round-red" style="padding-left:5px;" aria-hidden="true"></i> <strong>Achievement History</strong></h2>
                 <hr>
                 <table class="table table-dark-gry table-hover mb30 font16">
                   <thead style="background:#525252;">
                     <tr style="color:#525252;">
                       <td width="10%"><strong class="white-color">S.No</strong></td>
                       <td width="25%"><strong class="white-color">Date</strong></td>
                       <td width="15%"><strong class="white-color">Rank</strong></td>
                       <td width="25%"><strong class="white-color">Reward</strong></td>
                       <td width="25%" align="center"><strong class="white-color">Consecutive Day(s)</strong></td>
                     </tr>
                   </thead>
                   <tbody>
                     <tr ng-if="noRecords">
                       <td colspan="4"> No Records Found.</td>
                     </tr>
                     <tr ng-repeat="achievement in achievements" ng-if="!noRecords">
                       <td>{{$index+1}}</td>
                       <td>{{achievement.ondate | date:'MM/dd/yyyy'}}</td>
                       <td><img src="{{s3Url}}{{achievement.Rank | lowercase}}.png" width="30"></td>
                       <td>{{achievement.RewardName}}</td>
                       <td align="center">{{achievement.consecutive_days}}</td>
                     </tr>
                   </tbody>
                 </table>
               </div>
               <div class="tab-pane tab_default_6">
                 <h2 class="mb35-sm top-spacemob10"><i class="fa fa-users icon-lg-red border-round-red" style="padding-left:3px;" aria-hidden="true"></i> <strong>Leaderboard Reward</strong></h2>
                 <hr>
                 <div class="row">
                   <div class="col-md-6 col-sm-12">
                     <h3><strong>Recent Rankers</strong><small>(7 Day's)</small></h3>
                     <table class="table table-dark-gry table-hover mb30 font16">
                       <thead style="background:#525252;">
                         <tr style="color:#525252;">
                           <td><strong class="white-color">S.No</strong></td>
                           <!--<td><strong class="white-color">User ID</strong></td>-->
                           <td><strong class="white-color">Name</strong></td>
                           <td><strong class="white-color">Rank</strong></td>
                         </tr>
                       </thead>
                       <tbody>
                         <tr ng-repeat="weekRankers in weekRewards">
                           <td>{{$index+1}}</td>
                           <td><strong><img src="{{s3Url}}flags/{{allCountryCodes[weekRankers.country] | lowercase}}.png"> {{weekRankers.MemberName}}</strong> </td>
                           <td><img src="{{s3Url}}{{weekRankers.RewardName | lowercase}}.png" width="30"></td>
                         </tr>
                       </tbody>
                     </table>
                   </div>
                   <div class="col-md-6 col-sm-12">
                     <h3><strong>All Time Rankers</strong></h3>
                     <table class="table table-dark-gry table-hover mb30 font16">
                       <thead style="background:#525252;">
                         <tr style="color:#525252;">
                           <td><strong class="white-color">S.No</strong></td>
                           <td><strong class="white-color">Name</strong></td>
                           <td><strong class="white-color">Rank</strong></td>
                         </tr>
                       </thead>
                       <tbody>
                         <tr ng-repeat="allRankers in allRewards">
                           <td>{{$index+1}}</td>
                           <td><strong><img src="{{s3Url}}flags/{{allCountryCodes[allRankers.country] | lowercase}}.png"> {{allRankers.MemberName}}</strong> </td>
                           <td><img src="{{s3Url}}{{allRankers.RewardName | lowercase}}.png" width="30"></td>
                         </tr>
                       </tbody>
                     </table>
                   </div>
                 </div>
               </div>
             </div>
           </div>
         </div>
       </div>
     </div>
      <!-- contentpanel -->
    </div>
    <main-footer></main-footer>
  </div>
  <!-- mainwrapper -->
</section>
