<main-header></main-header>
<section>
  <div class="mainwrapper">
    <navigation></navigation>
    <style>.nav-tabs > li > a{ padding: 14px 45px !important; color:#fff !important;
      }.nav-tabs{background: #d9534f  none repeat scroll 0 0 !important;}.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus{ background:#b73632 !important;}.cropArea {
      background: #E4E4E4;
      overflow: hidden;
      width:100px;
      height:100px;
    }
    </style>
    <div class="mainpanel">
      <div class="pageheader">
        <!-- media -->
        <news-feeds></news-feeds>
        <!-- media -->
      </div>
      <!-- pageheader -->
      <div class="contentpanel">
        <h2 class="mb35"><i class="fa fa-cog icon-lg border-round" aria-hidden="true" style="padding-left:10px; padding-top:8px;"></i> <strong>Settings</strong></h2>
        <hr />
        <div class="tabbable-panel" >
          <div class="tabbable-line" >
            <div align="center">
              <ul  class="nav nav-tabs ">
                <li class="active">
                  <a href=".tab_default_4" data-toggle="tab">
                  <i class="fa fa-user icon-lg" aria-hidden="true"></i><br />
                  <strong>My Profile</strong> </a>
                </li>
                <li ng-click="walletInfo()">
                  <a href=".tab_default_5" data-toggle="tab">
                  <i class="fa fa-google-wallet icon-lg" aria-hidden="true"></i><br />
                  <strong>Wallet Address</strong> </a>
                </li>
                <li>
                  <a href=".tab_default_6" data-toggle="tab">
                  <i class="fa fa-star icon-lg" aria-hidden="true"></i><br />
                  <strong>Change Password</strong> </a>
                </li>
              </ul>
            </div>
            <div class="tab-content" style="padding:20px 20px; float:left;">

              <!-- User Info -->
              <div class="tab-pane tab_default_4 active">
                <h2 class="mb35-sm top-spacemob10"><i class="fa fa-user icon-lg-red border-round-red" aria-hidden="true"></i> <strong> Personal Information</strong></h2>
                <hr />
                <div class="row">
                  <div align="center" class="col-md-col-sm-12">
                    <div class="cropArea" ng-hide="changeImage">
                      <img-crop ng-hide="changeImage" image="myImage" result-image="userInfo.avatar" area-type="square" width="100" height="100" class="img-circle" area-min-size="30"></img-crop>
                    </div>
                    <br />
                    <img ng-hide="!changeImage" src="{{userInfo.avatar?userInfo.avatar:'images/users/user5.png'}}" width="100" height="100" class="img-circle" style="background:transparent"/>
                    <h3 class="nomargin nopadding red-text02 mt10"><strong>{{userInfo.name}}</strong></h3><br />
                    <div class="fileUpload btn btn-primary yelo-btn btn-sm">
                      <i class="fa fa-edit icon-lg-sm" aria-hidden="true"></i>
                        <strong>Change Avatar</strong>
                        <input id="fileInput" type="file" class="upload" accept="image/*"/>
                    </div>
                    <br />
                    <small>Note: Only images (i.e. PNG, GIF, JPG, JPEG) files are allowed</small>
                    <!-- <p>
                      <button class="yelo-btn btn-sm"><i class="fa fa-edit icon-lg-sm" aria-hidden="true"></i>
                        <strong>Change Avatar</strong>
                      </button><br />
                      <small>Note: Only images (i.e. PNG, GIF, JPG, JPEG) files are allowed</small>
                    </p> -->
                  </div>
                </div>
                <user-profile user-info="userInfo" update-profile="updateProfile(userInfo)" custom-class="custom-select" dial-code="dialCode" success-message="successMessage" error-message="errorMessage"></user-profile>
              </div>

              <!-- Wallet Info -->
              <div class="tab-pane tab_default_5" >
                <h2 class="mb35-sm top-spacemob10">
                  <i class="fa fa-google-wallet icon-lg-red border-round-red" style="padding-left:5px;" aria-hidden="true"></i>
                  <strong>Wallet Address</strong>
                </h2>
                <hr />
                <div class="alert alert-success fade in" ng-if="successMessage">
                  <strong><i class="fa fa-check-circle fa-lg" aria-hidden="true"></i></strong> {{successMessage}}
                </div>
                <div class="alert alert-danger fade in text-capitalize" ng-if="errorMessage">
                  <strong>{{errorMessage}}</strong>
                </div>
                <wallet-info class="col-md-4 col-sm-12" wallet-data="walletData" wallet-type="BTC" update-wallet="updateWallet(wallet, address)" success-message="successMessage" error-message="errorMessage" wallet-heading="walletHeading" s3-url="s3Url"></wallet-info>
                <wallet-info class="col-md-4 col-sm-12" wallet-data="walletData" wallet-type="ETH" update-wallet="updateWallet(wallet, address)" success-message="successMessage" error-message="errorMessage" wallet-heading="walletHeading" s3-url="s3Url"></wallet-info>
                <wallet-info class="col-md-4 col-sm-12" wallet-data="walletData" wallet-type="USD" update-wallet="updateWallet(wallet, address)" success-message="successMessage" error-message="errorMessage" wallet-heading="walletHeading" s3-url="s3Url"></wallet-info>
              </div>

              <!-- Change Password -->
              <div class="tab-pane tab_default_6">
                <change-password change-user-password="changeUserPassword(user)" user-value="user" confirm-pass="confirmPass()" confirm-pass-error="confirmPassError" success-message="successMessage" error-message="errorMessage"></change-password>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- contentpanel -->
    </div>
    <main-footer></main-footer>
  </div>
  <!-- mainwrapper -->
</section>
