<main-header></main-header>
<section>
  <div class="mainwrapper">
    <navigation></navigation>
    <style>.nav-tabs > li > a{ padding: 14px 45px !important; color:#fff !important;
      }.nav-tabs{background: #d9534f  none repeat scroll 0 0 !important;}.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus{ background:#b73632 !important;}
    </style>
    <div class="mainpanel">
      <div class="pageheader">
        <!-- media -->
        <news-feeds></news-feeds>
        <!-- media -->
      </div>
      <!-- pageheader -->
      <div class="contentpanel">
        <h2 class="mb35"><i class="fa fa-cog icon-lg border-round" aria-hidden="true" style="padding-left:10px; padding-top:8px;"></i> <strong>Setting</strong></h2>
        <hr />
        <div class="tabbable-panel" >
          <div class="tabbable-line" >
            <div align="center">
              <ul  class="nav nav-tabs ">
                <li class="active">
                  <a href=".tab_default_4" data-toggle="tab">
                  <i class="fa fa-user icon-lg" aria-hidden="true"></i><br />
                  <strong>My Profile</strong> </a>
                </li>
                <li ng-click="walletInfo()">
                  <a href=".tab_default_5" data-toggle="tab">
                  <i class="fa fa-google-wallet icon-lg" aria-hidden="true"></i><br />
                  <strong>Wallet Address</strong> </a>
                </li>
                <li>
                  <a href=".tab_default_6" data-toggle="tab">
                  <i class="fa fa-star icon-lg" aria-hidden="true"></i><br />
                  <strong>Change Password</strong> </a>
                </li>
              </ul>
            </div>
            <div class="tab-content" style="padding:20px 20px; ">

              <!-- User Info -->
              <div class="tab-pane tab_default_4 active">
                <user-profile user-info="userInfo" update-profile="updateProfile(userInfo)" custom-class="custom-select" dial-code="dialCode" success-message="successMessage" error-message="errorMessage"></user-profile>
              </div>

              <!-- Wallet Info -->
              <div class="tab-pane tab_default_5" style="height:500px;" >
                <wallet-info wallet-data="walletData" update-wallet="updateWallet(wallet, address)" success-message="successMessage" error-message="errorMessage"></wallet-info>
              </div>

              <!-- Change Password -->
              <div class="tab-pane tab_default_6">
                <change-password change-user-password="changeUserPassword(user)" user-value="user" confirm-pass="confirmPass()" confirm-pass-error="confirmPassError" success-message="successMessage" error-message="errorMessage"></change-password>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- contentpanel -->
    </div>
    <main-footer></main-footer>
  </div>
  <!-- mainwrapper -->
</section>
