<section>
  <div class="panel panel-signup">
    <form name="signup"  ng-submit="submit()"  novalidate>
      <div class="panel-body" ng-hide="showme">
        <div class="logo text-center">
          <img src="images/logo-coinomia.png" alt="Coinomia" >
        </div>
        <br />
        <h4 class="text-center mb5">Create a new account</h4>
        <p class="text-center">Please enter your credentials below</p>
        <div class="mb30"></div>
        <div class="row">
          <div class="col-sm-12">
            <label>Sponsor ID</label><br>
            <div class="input-group mb15">
              <span class="input-group-addon"><i class="fa fa-chain"></i></span>
              <input type="text"
                     name="sponsor"
                     class="form-control"
                     placeholder="coinomia"
                     disabled
                     required />

            </div>
            <p class="validation-error"
               ng-show="signup.sponsor.$touched && signup.sponsor.$invalid">
               Sponsor Id is required</p>

            <p class="validation-error">{{sponsorError}}</p>
            <!-- input-group -->
          </div>
          <div class="col-sm-12">
            <label>User ID</label><br>
            <div class="input-group mb15">
              <span class="input-group-addon"><i class="fa fa-chain"></i></span>
              <input type="text"
                     name="userid"
                     ng-model="userid"
                     class="form-control"
                     placeholder="coinomia"
                     required />
            </div>
            <p class="validation-error"
               ng-show="signup.userid.$touched && signup.userid.$invalid">
               User Id is required</p>

            <p class="validation-error">{{userIdError}}</p>
            <!-- input-group -->
          </div>
        </div>
        <div class="row">
          <div class="col-sm-6">
            <div class="input-group mb15">
              <span class="input-group-addon"><i class="fa fa-user"></i></span>
              <input type="text"
                     name="firstname"
                     ng-model="FirstName"
                     class="form-control"
                     placeholder="First Name"
                     ng-maxlength="15"
                     ng-pattern="/^[a-zA-Z]+$/"
                     required />
            </div>
            <p class="validation-error"
               ng-show="signup.firstname.$touched && signup.firstname.$invalid && !signup.firstname.$error.pattern && !signup.firstname.$error.maxlength">
               First name is required.</p>
            <p class="validation-error"
               ng-show="signup.firstname.$touched && signup.firstname.$error.pattern && !signup.firstname.$error.maxlength">
               Only alphabets are allowed.</p>

             <p class="validation-error"
                ng-show="signup.firstname.$touched && signup.firstname.$invalid && signup.firstname.$error.maxlength">
                Maximum 15 characters are allowed.</p>

            <p class="validation-error" ng-show="!signup.firstname.$error.pattern">{{firstNameError}}</p>
            <!-- input-group -->
          </div>
          <div class="col-sm-6">
            <div class="input-group mb15">
              <span class="input-group-addon"><i class="fa fa-user"></i></span>
              <input type="text"
                     name="lastname"
                     ng-model="LastName"
                     class="form-control"
                     ng-maxlength="15"
                     ng-pattern="/^[a-zA-Z]+$/"
                     placeholder="Last Name"
                     required />
            </div>

            <p class="validation-error"
               ng-show="signup.lastname.$touched && signup.lastname.$error.pattern && !signup.lastname.$error.maxlength">
               Only alphabets are allowed.</p>

            <p class="validation-error"
               ng-show="signup.lastname.$touched && signup.lastname.$invalid && signup.lastname.$error.maxlength">
               Maximum 15 characters are allowed.</p>

            <p class="validation-error" ng-show="!signup.lastname.$error.pattern">{{lastNameError}}</p>
            <!-- input-group -->
          </div>
        </div>
        <!-- row -->
        <div class="row">
          <div class="col-sm-6">
            <div class="input-group mb15">
              <span class="input-group-addon"><i class="fa fa-lock"></i></span>
              <input type="password"
                     name="password"
                     ng-model="Password"
                     class="form-control"
                     ng-minlength="6"
                     ng-pattern="/^(?=.*[a-zA-Z])(?=.*[0-9]).+$/"
                     placeholder="Password"
                     required />
            </div>
            <p class="validation-error"
               ng-show="signup.password.$touched && signup.password.$invalid && !signup.password.$error.minlength && !signup.password.$error.pattern">
               Password is required.</p>
            <!-- Minimum Lenght Validation -->
            <p class="validation-error"
               ng-show="signup.password.$touched && signup.password.$invalid && signup.password.$error.minlength">
               Password must be 6 characters long.</p>
             <!-- Alphanumeric Validation -->
            <p class="validation-error"
               ng-show="signup.password.$touched && signup.password.$error.pattern && !signup.password.$error.minlength">
               Password must be alphanumeric.</p>
            <!-- input-group -->
          </div>
          <div class="col-sm-6">
            <div class="input-group mb15">
              <span class="input-group-addon"><i class="fa fa-lock"></i></span>
              <input type="password"
                     name="confirmpassword"
                     ng-model="ConfirmPassword"
                     class="form-control"
                     ng-keyup="confirmPass()"
                     placeholder="Confirm Password"
                     required />
            </div>
            <p class="validation-error"
               ng-show="(signup.confirmpassword.$touched && signup.confirmpassword.$invalid) || confrimPassError">
               Password does not match</p>
            <!-- input-group -->
          </div>
        </div>
        <!-- row -->
        <br />
        <div class="clearfix">
          <div class="pull-right">
            <button type="button"
                    ng-click="showme=true"
                    class="btn btn-success"
                    ng-disabled="signup.firstname.$error.pattern || signup.lastname.$error.pattern || signup.password.$error.required || signup.sponsor.$error.required || signup.userid.$error.required || signup.firstname.$error.required || confrimPassError">Next <i class="fa fa-arrow-circle-o-right"></i> </button></a>
          </div>
        </div>
      </div>
      <div class="panel-body" ng-show="showme">
        <div class="logo text-center">
          <img src="images/logo-coinomia.png" alt="Coinomia" >
        </div>
        <br />
        <h4 class="text-center mb5">Create a new account</h4>
        <p class="text-center">Please enter your credentials below</p>
        <p class="text-center validation-error" ng-show="error">{{signupMessage}}</p>
        <div class="mb30"></div>
        <div class="row">
          <div class="col-sm-6">
            <div class="input-group mb15">
              <span class="input-group-addon"><i class="fa fa-phone"></i></span>
              <input type="number"
                     name="mobile"
                     ng-model="Mobile"
                     class="form-control"
                     placeholder="Enter your Mobile Number"
                     required />
            </div>
            <p class="validation-error"
               ng-show="signup.mobile.$touched && signup.mobile.$invalid">
               Mobile number is required</p>
            <!-- input-group -->
          </div>
          <div class="col-sm-6">
            <div class="input-group mb15">
              <span class="input-group-addon"><i class="fa fa-envelope-o"></i></span>
              <input type="email"
                     name="email"
                     ng-model="Email"
                     class="form-control"
                     placeholder="Enter your Email"
                     ng-pattern="/^([a-zA-Z0-9_\.\-])+\@(([a-zA-Z0-9\-])+\.)+([a-zA-Z0-9]{2,4})+$/i"
                     required />
            </div>
            <p class="validation-error"
               ng-show="signup.email.$touched && signup.email.$invalid && !signup.email.$error.pattern">
               Email is required</p>
            <!-- Email Validation    -->
            <p class="validation-error"
               ng-show="signup.email.$error.pattern && signup.email.$touched">
               Please enter a valid email address.</p>

            <p class="validation-error">{{emailError}}</p>
            <!-- input-group -->
          </div>
        </div>
        <div class="row">
          <div class="col-sm-12">
            <div class="input-group mb15">
              <span class="input-group-addon"><i class="fa fa-map"></i></span>
              <textarea  ng-model="Address"  class="form-control" placeholder="Full Address" required></textarea>
            </div>
            <!-- input-group -->
          </div>
        </div>
        <!-- row -->
        <div class="row">
          <div class="col-sm-6">
            <label>Country</label><br>
            <div class="input-group mb15">
              <span class="input-group-addon"><i class="fa fa-map-marker"></i></span>
              <select id="user.country" name="country" ng-model="Country"  class="form-control" style="padding-left:5px !important;" required >
              </select>
            </div>
            <p class="validation-error" ng-show="signup.country.$touched && signup.country.$invalid">Country is required</p>
            <!-- input-group -->
          </div>
          <div class="col-sm-6">
            <label>State</label><br>
            <div class="input-group mb15">
              <span class="input-group-addon"><i class="fa fa-map-marker"></i></span>
              <select class="form-control" ng-model="State" id="user.state" >
              </select>
            </div>
            <!-- input-group -->
          </div>
        </div>
        <!-- row -->
        <div class="row">
          <div class="col-sm-6">
            <label>City</label><br>
            <div class="input-group mb15">
              <span class="input-group-addon"><i class="fa fa-map-marker"></i></span>
              <input type="text"  name="city" ng-model="City"  class="form-control" placeholder="City" required>
            </div>
            <!-- input-group -->
          </div>
          <div class="col-sm-6">
            <label>Pin/Zip</label><br>
            <div class="input-group mb15">
              <span class="input-group-addon"><i class="fa fa-cog"></i></span>
              <input type="text"  name="pincode" ng-model="Pincode"  class="form-control" placeholder="208011" required>
            </div>
            <p class="validation-error" ng-show="signup.pincode.$touched && signup.pincode.$invalid">Pin/Zip is required</p>
            <!-- input-group -->
          </div>
        </div>
        <br>
        <div class="clearfix">
          <div class="pull-left">
            <div class="ckbox ckbox-primary ">
              <input type="checkbox" id="agree" name="terms" model="terms" required ><label for="agree" >I agree with <a href="#/terms-and-conditions" target=_blank><strong>Terms and Conditions</strong></a></label>
            </div>
            <!-- <p class="validation-error" ng-show="signup.terms.$touched && signup.terms.$invalid">You must accept our terms and conditions. </p> -->
          </div>
          <div class="pull-right">
            <span ng-click="showme=false" style="cursor:pointer;"> <i class="fa fa-angle-left ml5"></i> Back</span>
            <button type="submit" class="btn btn-success" ng-disabled="signup.email.$error.required || signup.mobile.$error.required || signup.country.$error.required || signup.ipadr.$error.required || signup.pincode.$error.required">
              Create New Account <i class="fa fa-angle-right ml5"></i></button>
          </div>
        </div>
      </div>
      <!-- panel-body -->
    </form>
    <!-- <div class="panel-footer">
      <a href="#/" class="btn btn-primary btn-block">Already a Member? Sign In</a>
    </div> -->
    <!-- panel-footer -->
  </div>
  <!-- panel -->
</section>
<script language="javascript">
  populateCountries("user.country", "user.state");
</script>
