<section class="signup-success">
  <div class="panel panel-success">
    <div class="panel-body">
      <div class="mb15"></div>
      <div class="logo text-center">
        <img src="images/logo-coinomia.png" alt="Coinomia" >
      </div>
      <h3 class="text-center mb5 mail-box-text">Find Our Mail Inside Your Mail Box.</h3>
      <br />
      <br />
      <div class="text-center mail-box-steps pull-left mb15">
        <span class="step1 pull-left">
          <img src="images/step-1.png" class="img-responsive"/>
        </span>
        <span class="step2 pull-left">
          <img src="images/step-2.png" class="img-responsive"/>
        </span>
        <span class="step3 pull-left">
          <img src="images/step-3.png" class="img-responsive"/>
        </span>
        <span class="step4 pull-left">
          <img src="images/step-4.png" class="img-responsive"/>
        </span>
        <span class="step5 pull-right">
          <img src="images/step-5.png" class="img-responsive"/>
        </span>
      </div>

    </div>
  </div>
  <!-- panel -->
</section>
