<main-header class="main-header"></main-header>
<section>
  <div class="mainwrapper">
    <navigation></navigation>
    <style>.nav-tabs > li > a{ padding: 14px 45px !important; color:#fff !important;
    }.nav-tabs{background: #d9534f  none repeat scroll 0 0 !important;}.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus{ background:#b73632 !important;}

    </style>
    <div class="mainpanel">
      <coming-soon text-value="'Support'"></coming-soon>
      <div class="contentpanel content-opacity">
      </div>
      <!-- contentpanel -->
    </div>
    <main-footer></main-footer>
  </div>
  <!-- mainwrapper -->
</section>

<!-- <form id="osticket" method="post" action="{{redirectURL}}">
  <input type="hidden" name="token" value="{{token}}" />
</form> -->
