<main-header></main-header>
<section>
  <div class="mainwrapper">
    <navigation></navigation>
    <style>.nav-tabs > li > a{ padding: 14px 45px !important; color:#fff !important;
    }.nav-tabs{background: #d9534f  none repeat scroll 0 0 !important;}.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus{ background:#b73632 !important;}

    </style>
    <div class="mainpanel">
      <div class="pageheader">
        <!-- media -->
        <news-feeds></news-feeds>
        <!-- media -->
      </div>
      <!-- pageheader -->
      <div class="contentpanel">




<div class="container">

<h2 class="mb35"><i class="fa fa-phone icon-lg border-round" aria-hidden="true" style="padding-left:10px; padding-top:10px; "></i> <strong>Support</strong></h2>
              <hr />

<div class="col-md-6 col-sm-12" style="font-size:14px; ">

<div class="panel panel-default">
<div class="panel-heading contact-heading-tab"><i class="fa fa-map-marker icon-lg-sm" aria-hidden="true" style="padding-left:8px; "></i> Location</div>
<div class="panel-body">
<br /><img src="images/das-map.png" width="100%"/>
<br />
<h4><strong>Coinomia Technology LTD</strong></h4>

1<sup>St </sup>Saviours Wharf<br />

23 Mill Street<br />

London<br />

SE1 2BE<br />

</div>
</div>




</div><div class="col-md-6 col-sm-12" >
<div class="panel panel-default">
<div class="panel-heading contact-heading-tab"><i class="fa fa-envelope-o icon-lg-sm" aria-hidden="true" style="padding-left:8px; "></i> For Queries Please Contact</div>
<div class="panel-body">
<form  >

            <div class="row">       <div class="col-md-12 col-sm-12">  <label for="exampleInputName2"><strong>Name</strong></label>

                   <input class="form-control"  name="name" type="email"  >
</div>

<div class="col-md-12 col-sm-12 mar20">  <label for="exampleInputName2"><strong> Email</strong></label>
<input type="eamil" class="form-control " name="email" id="exampleInputName2" required="required" ></div></div> <div class="row">       <div class="col-md-12 col-sm-12 mar20">  <label for="exampleInputName2"><strong>Inquiry Subject</strong></label>

                   <input class="form-control"  name="name" type="email"  >
</div></div><div class="row mar20">   <div class="col-md-12 col-sm-12 "><label for="exampleInputName2"><strong>Inquiry Message</strong></label><textarea class="form-control" name="mail-msg" cols="" rows="5"></textarea></div></div>
<p class="mar20">
<input type="submit" class="btn btn-default white-btn" value="Save" name="submit">
<input type="reset" class="btn btn-default" ng-click="reset()" value="Reset" name="reset">
</p>

</form>
</div>
</div>



</div>


     </div>

  </div> 
            <!-- contentpanel -->
    </div>
    <main-footer></main-footer>
  </div>
  <!-- mainwrapper -->
</section>
