<section>
   <div class="panel panel-signup">
      <div class="panel-body">
         <div class="logo text-center">
            <img ng-src="{{s3Url}}logo-coinomia.png" width="110" alt="Coinomia" class="pull-right" >
         </div>
         <br />
         <div align="center"><img ng-src="{{s3Url}}terms.png" style="margin-left:50px;" width="190"></div>
         <br>
         <h4 class="text-center mb5">Terms & Condition</h4>
         <p class="text-center"><strong>Please do not use this website or any of its services if you are under 18 years.</strong></p>
         <hr>
         <strong>INTRODUCTION</strong><br>
         &ldquo;www.Coinomia.com&rdquo;, &ldquo;we&rdquo;, &ldquo;our&rdquo;, &ldquo;us&rdquo;, &ldquo;the operator&rdquo;, &ldquo;the  website&rdquo;, &ldquo;the company&rdquo; here represents our website. <br>
         &ldquo;You&rdquo;, &ldquo;User&rdquo;, &ldquo;Buyer&rdquo; here is the one who is accessing the  website.<br>
         By using this website, or performing any activity related or  not related with it, the user hereby, is bound by the terms and conditions of  this website. He has to abide these terms and even if he does not, he will be  assumed that he has full idea about the terms &amp; conditions.<br>
         We, thus recommend not to use this website if you don&rsquo;t  agree with website terms &amp; conditions. We can anytime update or modify the  terms &amp; conditions.<br>
         <br>
         <p><strong>DEFINITIONS</strong></p>
         <p>Before mining, we would recommend you to go through the  terms so that you get a clear idea what mining is and what benefit you can get  by mining.<br>
            Please refer the Bitcoin Glossary. &lt;Link the glossary  here&gt;<br>
            <br>
         </p>
         <p><strong>PURCHASES</strong></p>
         <p>Purchasing or going for transaction here refers to the  contract where the user is getting benefits from us in the form of services  i.e. online and offline. <br>
            <br>
            <br>
            <strong>Purchases in our contract covers-</strong><br>
            1. Agreement between the Buyer and Us<br>
            2. The buyer agrees the contract.<br>
            3. The buyer is ready to make payment for the contract.<br>
            However:<br>
            <br>
            <strong>We will not be responsible for-</strong><br>
            1. Any technical or financial error occurred at users end.<br>
            2. Any extra charge imposed by merchant.<br>
            3. Any overpayment or loss of money through human error at  user end.<br>
            4. Any restriction by the bank.<br>
            5. Any law that does not allow making purchases with us as per  local jurisdiction. You must check your local jurisdiction laws applicable  before buying the Bitcoin Cloud Mining Contract &amp; only purchase if you are  allowed to do so!<br>
         </p>
         <p><strong>Purchase responsibility at operators end covers-</strong><br>
            1. Providing all services mentioned in the contract.<br>
            2. Providing the updated platform where user can easily mine  bitcoin or any cryptocurrency.<br>
            3. Assisting in contract liabilities.<br>
            4. Providing all the relevant useful data related with the  chosen contract.<br>
            5. Providing volume equivalent to the contract purchased.<br>
            6. Transfer bitcoin as per the need and performance of the  contract. <br>
            7. Transfer bitcoin to the user&rsquo;s designated bitcoin wallet. <br>
            <br>
         </p>
         <p><strong>PURCHASING CRYPTOCURRENCIES</strong><br>
            While purchasing any of the contract, user must make sure  that bitcoin transactions are not reversible. While making a valid purchase  request, make sure that you agree with the terms &amp; conditions and accept  the transaction price and other values associated with the contract. <br>
            <br>
         </p>
         <p><strong>LOGIN </strong><br>
            As the time you select a contract, you can sign up for free  by providing all your true details. We will not be responsible for any wrong,  fraud, astray, false or incomplete information provided by you. While creating  the account, make sure you use a username that is easy to use and password that  is a bit complicated that can not be easily traced. The Operator will record  the amount of cryptocurrency produced pursuant to the Buyer&rsquo;s Cloud Mining  Contract, in the Buyer&rsquo;s personal account from time to time. While the Operator  will use its best efforts to ensure such records are accurate and up to date,  the Operator makes no guarantee as to the accuracy of any such records and  reserves the absolute right at its sole discretion to vary, correct or alter  such records and the Buyer has no absolute right to the amount of  Cryptocurrency recorded on the Buyer&rsquo;s personal account from time to time. <br>
         </p>
         <p><strong>USER OBLIGATIONS</strong><br>
            The buyer warrants that he/she will use the website as per  the terms. He is the owner of his transactions. He takes the authority of his  transactions. Buyer is not liable to use this website or any of its services  for terrorist activities (such as financing, transferring, linking), money  laundering, hacking, threatening the reputation or any negative activity associated  with this website. <br>
            Buyer is also not liable to copy, modify or reuse the  contents of this website. User is also prohibited to send spam to this website.  The user must not collect any data or download any process data without any  prior notice and approval. <br>
            Any misuse of the services will result in seizure of the  contract and relevant funds.<br>
            <br>
            <strong>CRYPTOCURRENCY  SERVICE</strong><br>
            By purchasing any of the contract with Coinomia, user  acknowledge and agree that-<br>
            Bitcoin is not a legal entity in certain countries.<br>
            Bitcoin is not controlled or regulated by any central  institution.<br>
            Prices are highly volatile and may fluctuate beyond  expectations.<br>
            Transactions are irreversible.<br>
            User is responsible for protecting his wallet, software bank  account, personal data, address, against fraud, theft or illegal activity.<br>
            User is responsible for any loss or damage caused due to  unauthorised access on user end.<br>
            If user shares his/her credentials to any third person, he  is no longer a part of contract and he can not claim for damages.<br>
            The contract ceases as soon as it finds any false  information.<br>
            User will be responsible for losses due to providing  incorrect bitcoin wallet id.<br>
            you have obtained independent legal and financial advice  about the risks associated with buying Bitcoin, or you knowingly and  voluntarily elected not to do so.<br>
            User acknowledges the risk involved in digital currencies.<br>
            User understand that the hash rate required to produce  Bitcoin increases about every fortnight resulting in a diminishing return of  Bitcoin per hash rate applied to production.<br>
            There can be unforeseen or unexpected risks that are not  mentioned or updated in these terms. User is expected that he acknowledges all  the risks and further agrees with the contract.
         </p>
         <p>&nbsp;</p>
         <p><strong>LIABILITY</strong><br>
            The service on our website is only offered to facilitate  mining for use in international trade which is not regulated. Coinomia is not  responsible for losses suffered by users. Any information related to Buy and  Sell, rate of production at hash per second, spot prices, or any investment  advice should not be interpret as such. Coinomia does not offer any legal,  financial, insurance, investment or any associated advice. <br>
            All transactions made are the sole responsibility of the  buyer. We are not recommending anything available in the website. Coinomia in  no way is responsible for any damages arising due to inability to use this  website or any part of it. Because some jurisdictions do not allow limitations  on implied warranties, or limitations of liability for consequential or  incidental damages, these limitations may not apply to you. In the case that  applicable law may not allow the limitation or exclusion of liability or  incidental or consequential damages, our liability will be limited to the fullest  extent permitted by applicable law. In a nutshell, we are not responsible for  losses and we can not be held liable for the same.
         </p>
         <p><strong>SECURITY</strong><br>
            Users are responsible for maintaining the confidentiality of  their Bitcoin wallet. Its information should not be shared with any third  person. We recommend users to bring to our notice any suspected activity at  users account or wallet. The Operator will not be held liable for any lost  Bitcoin wallet information or hacked Bitcoin wallet accounts, nor any loss  arising howsoever as a result including by theft or fraud. If any centralised  authority appointed by the government of the jurisdiction approaches us and  asks for the record and details of any particular user suspected in any money  laundering, fraudulent or terrorist activity, we reserve the right to share the  information.
         </p>
         <p>&nbsp;</p>
         <p><strong>TERMINATION</strong><br>
            We have rights to terminate your accounts on the bases of-<br>
            1. Any breach of agreement by the user.<br>
            2. Any violation of terms and conditions.<br>
            3. Any unauthorised activity that is found illegal.<br>
            We can block your IP or we can contact your ISP to block you  from accessing website. We can also take legal actions against you and recover  costs from you. We can stop supplying our service at any time without notice to  you, and we reserve the right to refuse to supply the service to any person for  any reason, especially if the user registers or submits a purchase under false  identity or with wrong personal information, including email address,  interferes with any of the company&rsquo;s operations or uses language that we  consider is unacceptable including vulgar, racist, sexual or offensive  language.<br>
         </p>
         <p><br>
            <strong>GLOSSARY<br>
            Address</strong><br>
            A bitcoin address is used to receive and send transactions  on the bitcoin network. It contains a string of alphanumeric characters, but  can also be represented as a scannable QR code. A bitcoin address is also the  public key in the pair of keys used by bitcoin holders to digitally sign  transactions (see Public key).
         </p>
         <p><strong>ASIC</strong><br>
            An Application Specific Integrated Circuit is a silicon chip  specifically designed to do a single task. In the case of bitcoin, they are  designed to process SHA-256 hashing problems to mine new bitcoins.
         </p>
         <p><strong>ASIC miner</strong><br>
            A piece of equipment containing an ASIC chip, configured to  mine for bitcoins. They can come in the form of boards that plug into a  backplane, devices with a USB connector, or standalone devices including all of  the necessary software, that connect to a network via a wireless link or  ethernet cable.
         </p>
         <p>&nbsp;</p>
         <p><strong>Bitcoin Sentiment Index (BSI)</strong><br>
            The Bitcoin Sentiment Index is a measure of whether  individuals feel the digital currency's prospects are increasing or decreasing  on any given day, and is powered by data collected by Qriously.<br>
         </p>
         <p><strong>Bitcoin Market Potential Index (BMPI)</strong><br>
            The Bitcoin Market Potential Index (BMPI) uses a data set to  rank the potential utility of bitcoin across 177 countries. It attempts to show  which markets have the greatest potential for bitcoin adoption.<br>
         </p>
         <p><strong>Bitcoin Price Index (BPI)</strong><br>
            The CoinDesk Bitcoin Price Index represents an average of  bitcoin prices across leading global exchanges that meet criteria specified by  the BPI. There is also an API for developers to use.
         </p>
         <p><strong>Blockchain</strong><br/>
            The full list of blocks that have been mined since the  beginning of the bitcoin cryptocurrency. The blockchain is designed so that  each block contains a hash drawing on the blocks that came before it. This is  designed to make it more tamperproof.<br>
            To add further confusion, there is a company called  Blockchain, which has a very popular blockchain explorer and bitcoin wallet.
         </p>
         <p><strong>Confirmation</strong><br>
            The act of hashing a bitcoin transaction successfully into a  transaction block, and cementing its validity. A single confirmation will take  around 10 minutes, which is the average length of time for a transaction block  to be hashed. However, some more sensitive or larger transactions may require  multiple confirmations, meaning that more blocks must be hashed and added to  the blockchain after the transaction&rsquo;s block has been hashed. Each time another  block is added to the blockchain after the transaction&rsquo;s block, the transaction  is confirmed again.<br>
         </p>
         <p><strong>CPU</strong><br>
            Central Processing Unit – the 'brain' of a computer. In the  early days, these were used to hash bitcoin transactions, but are now no longer  powerful enough. They are still sometimes used to hash transactions for  altcoins.<br>
            <br>
         </p>
         <p><strong>Coinbase</strong><br>
            Another name for the input used in a bitcoin&rsquo;s generation  transaction. When a bitcoin is mined, it doesn't come from another bitcoin  user, but is generated as a reward for the miner. That reward is recorded as a  transaction, but instead of another user's bitcoin address, some arbitrary data  is used as the input.<br>
            Coinbase is also the name of a bitcoin wallet service that  also offers payment processing services for merchants and acts as an  intermediary for purchasing bitcoins from exchanges.<br>
            <br>
         </p>
         <p><strong>Cryptocurrency</strong><br>
            A form of currency based on mathematics alone. Instead of  fiat currency, which is printed, cryptocurrency is produced by solving  mathematical problems based on cryptography.<br>
            <br>
         </p>
         <p><strong>Cryptography</strong><br>
            The use of mathematics to create codes and ciphers that can  be used to conceal information. Used as the basis for the mathematical problems  used to verify and secure bitcoin transactions.<br>
            <br>
         </p>
         <p><strong>Deflation</strong><br>
            The reduction of prices in an economy over time. It happens  when the supply of a good or service increases faster than the supply of money,  or when the supply of money is finite, and decreases. This leads to more goods  or services per unit of currency, meaning that less currency is needed to  purchase them. This carries some downsides. When people expect prices to fall,  it causes them to stop spending and hoard money, in the hope that their money  will go further later. This can depress an economy.<br>
            <br>
            <br>
            <strong>Double spending</strong><br>
            The act of spending bitcoins twice. It happens when someone  makes a transaction using bitcoins, and then makes a second purchase from  someone else, using the same bitcoins. They then convince the rest of the network  to confirm only one of the transactions by hashing it in a block. Double  spending is not easy to do, thanks to the way that the bitcoin network  operates, but it is nevertheless a risk run by those accepting  zero-confirmation transactions.<br>
            <br>
            <br>
            <strong>Exchange</strong><br>
            A central resource for exchanging different forms of money  and other assets. Bitcoin exchanges are typically used to exchange the  cryptocurrency for other, typically fiat, currencies.<br>
            <br>
            <br>
            <strong>Fiat currency</strong><br>
            A currency, conjured out of thin air, which only has value  because people say it does. Constantly under close scrutiny by regulators due  to its known application in money laundering and terrorist activities. Not to  be confused with bitcoin.<br>
            <br>
            <br>
            <strong>Gigahashes/sec</strong><br>
            The number of hashing attempts possible in a given second,  measured in billions of hashes (thousands of Megahashes).<br>
            <br>
            <br>
            <strong>GPU</strong><br>
            Graphical Processing Unit. A silicon chip specifically  designed for the complex mathematical calculations needed to render millions of  polygons in modern computer game graphics. They are also well suited to the  cryptographic calculations needed in cryptocurrency mining.<br>
            <br>
         </p>
         <p><strong>Hash</strong><br>
            A mathematical process that takes a variable amount of data  and produces a shorter, fixed-length output. A hashing function has two  important characteristics. Firstly, it is mathematically difficult to work out  what the original input was by looking at the output. Secondly, changing even  the tiniest part of the input will produce an entirely different output.<br>
            <br>
            <br>
            <strong>Hash rate</strong><br>
            The number of hashes that can be performed by a bitcoin miner  in a given period of time (usually a second).<br>
            <br>
            <br>
            <strong>Inflation</strong><br>
            When the value of money drops over time, causing prices for  goods to increase. The result is a drop in purchasing power. Effects include  less motivation to hoard money, and more motivation to spend it quickly while  the prices of goods are still low.<br>
            <br>
            <br>
            <strong>Input</strong><br>
            The part of a bitcoin transaction denoting where the bitcoin  payment has come from. Typically, this will be a bitcoin address, unless the  transaction is a generation transaction, meaning that the bitcoin has been  freshly mined (see Coinbase).<br>
            <br>
            <br>
            <strong>Kilohashes/sec</strong><br>
            The number of hashing attempts possible in a given second,  measured in thousands of hashes.<br>
            <br>
            <br>
            <strong>KYC</strong><br>
            Know Your Client/Customer rules force financial institutions  to vet the people they are doing business with, ensuring that they are  legitimate.<br>
            <br>
            <br>
            <strong>Megahashes/sec</strong><br>
            The number of hashing attempts possible in a given second,  measured in millions of hashes (thousands of Kilohashes).<br>
            <br>
            <br>
            <strong>Mining</strong><br>
            The act of generating new bitcoins by solving cryptographic  problems using computing hardware.<br>
            <br>
            <br>
            <strong>Node</strong><br>
            A computer connected to the bitcoin network using a client  that relays transactions to others (see client). If you'd like to run a bitcoin  node, then bitcoin.org offers a comprehensive guide.<br>
            <br>
            <br>
            <strong>Nonce</strong><br>
            A random string of data used as an input when hashing a transaction  block. A nonce is used to try and produce a digest that fits the numerical  parameters set by the bitcoin difficulty. A different nonce will be used with  each hashing attempt, meaning that billions of nonces are generated when  attempting to hash each transaction block.<br>
            <br>
            <br>
            <strong>P2P</strong><br>
            Peer-to-peer. Decentralized interactions that happen between  at least two parties in a highly interconnected network. An alternative system  to a 'hub-and-spoke' arrangement, in which all participants in a transaction  deal with each other through a single mediation point.<br>
            <br>
            <br>
            <strong>Pool</strong><br>
            A collection of mining clients which collectively mine a  block, and then split the reward between them. Mining pools are a useful way to  increase your probability of successfully mining a block as the difficulty  rises.<br>
            <br>
         </p>
         <p><strong>Private key</strong><br>
            An alphanumeric string kept secret by the user, and designed  to sign a digital communication when hashed with a public key. In the case of  bitcoin, this string is a private key designed to work with a public key. The  public key is a bitcoin address (see Bitcoin address).<br>
            <br>
            <br>
            <strong>Process node</strong><br>
            The size of a transistor in nanometers, produced during a  chip fabrication process. Smaller process nodes are more efficient.<br>
            <br>
            <br>
            <strong>Proof of stake</strong><br>
            An alternative to proof of work, in which your existing  stake in a currency (the amount of that currency that you hold) is used to  calculate the amount of that currency that you can mine.<br>
            <br>
            <br>
            <strong>Proof of work</strong><br>
            A system that ties mining capability to computational power.  Blocks must be hashed, which is in itself an easy computational process, but an  additional variable is added to the hashing process to make it more difficult.  When a block is successfully hashed, the hashing must have taken some time and  computational effort. Thus, a hashed block is considered proof of work.<br>
            <br>
            <br>
            <strong>Public key</strong><br>
            An alphanumeric string which is publicly known, and which is  hashed with another, privately held string to sign a digital communication. In  the case of bitcoin, the public key is a bitcoin address.<br>
            <br>
            <strong>Scrypt</strong><br>
            An alternative proof of work system to SHA-256, designed to  be particularly friendly to CPU and GPU miners, while offering little advantage  to ASIC miners.<br>
            Signature<br>
            A digital digest produced by hashing private and public keys  together to prove that a bitcoin transaction came from a particular address.<br>
            <br>
            <br>
            <strong>SHA-256</strong><br>
            The cryptographic function used as the basis for bitcoin&rsquo;s  proof of work system.<br>
            <br>
         </p>
         <p><strong>Terahashes/sec</strong><br>
            The number of hashing attempts possible in a given second,  measured in trillions of hashes (thousands of Gigahashes).<br>
            <br>
         </p>
         <p><strong>Transaction block</strong><br>
            A collection of transactions on the bitcoin network,  gathered into a block that can then be hashed and added to the blockchain.<br>
            <br>
            <br>
            <strong>Transaction fee</strong><br>
            A small fee imposed on some transactions sent across the  bitcoin network. The transaction fee is awarded to the miner that successfully  hashes the block containing the relevant transaction.<br>
            <br>
            <br>
            <strong>Wallet</strong><br>
            A method of storing bitcoins for later use. A wallet holds  the private keys associated with bitcoin addresses. The blockchain is the  record of the bitcoin amounts associated with those addresses.<br>
            <br>
            <br>
            <strong>Wire transfer</strong><br>
            Electronically transferring money from one person to  another. Commonly used to send and retrieve fiat currency from bitcoin  exchanges.<br>
            <br>
         </p>
         <p><strong>Hash rate denominations</strong><br>
            • 1 kH/s is 1,000  (one thousand) hashes per second<br>
            • 1 MH/s is 1,000,000  (one million) hashes per second.<br>
            • 1 GH/s is  1,000,000,000 (one billion) hashes per second.<br>
            • 1 TH/s is  1,000,000,000,000 (one trillion) hashes per second.<br>
            • 1 PH/s is  1,000,000,000,000,000 (one quadrillion) hashes per second.<br>
            • 1 EH/s is  1,000,000,000,000,000,000 (one quintillion) hashes per second.
         </p>
         <div class="mb30"></div>
      </div>
      <!-- panel-body -->
      <!-- panel-footer -->
   </div>
   <!-- panel -->
</section>
