<div class="modal-content">
   <div class="modal-header">
      <button type="button" class="close no-print" data-dismiss="modal" aria-label="Close" ng-click="closePopup()"><span aria-hidden="true">×</span></button>
      <h4 class="modal-title no-print" id="myModalLabel"><img src="images/usd-wallet.png" width="35" class="pull-left img-responsive "> <strong>&nbsp;{{affiliateAccount?"Active Affiliate Account":"USD Wallet"}}</strong></h4>
   </div>
   <div class="modal-body">
     <div class="alert alert-danger fade in" ng-if="notPaid">
       You have not paid any amount yet.
     </div>
     <div class="alert alert-warning fade in" ng-if="pendingStatus">
       Your transaction confirmation is still pending.
     </div>
     <div class="alert alert-success fade in" ng-if="successStatus">
       Your transaction has been confirmed.
     </div>
     <div class="alert alert-success fade in" ng-if="accountStatus">
       Your Account is already Activated.
     </div>
     <div class="alert alert-danger fade in" ng-if="noBalance">
       Balance Not Available.
     </div>
     <form ng-if="!noBalance && !accountStatus">
         <h4>Transaction Funding</h4>
         <p>Please transfer your Bitcoins to the address given below. The funds will be credited to your wallet as soon as we get 6 confirmations from the Bitcoin network.</p>
         <div class="row">
            <div class="col-md-12 col-sm-12" style="font-size:14px">
               <h4 class="no-margin no-padding">Invoice Number : {{transactionDetails.invoice_number}}</h4>
               <h3><strong>Add Funds : {{transactionDetails.value_in_usd | currency}}</strong></h3>
               <small class="col-xs-12 col-sm-12 red-text02"><strong>Note:</strong> Please pay the exact amount of BTC mentioned here. Any underpayments will remain unattended!</small>
               <h4 class="add-funds-popup">You have to Pay <strong>{{transactionDetails.value_in_btc}} BTC </strong> </h4><br>
               <div class="col-xs-12 col-sm-12 col-md-12">
                 <strong>Date :</strong> {{transactionDate}}<br><br>
               </div>
               <div class="col-xs-8 col-sm-8 col-md-8 bit-address">
                 <strong>Bitcoin Address :
                 {{transactionDetails.address}}</strong>
               </div>
               <div class="qr_code">
                 <img src="https://chart.googleapis.com/chart?chs=250x250&cht=qr&chl=bitcoin:{{transactionDetails.address}}?&amount={{transactionDetails.value_in_btc}}" width="100">
               </div>
               <br><br>
               <small class="col-xs-12 col-sm-12 col-md-12 red-text02"><strong>Attention!</strong> Please note that the Bitcoin address the system gave you for this funding is unique and can only be used once. Each new funding has to be initiated in Add Funds inside your account.</small><br>
               <br>
               <div class="col-xs-12 col-sm-12 col-md-12 mt10">
                 <span><strong>Thank You,</strong><br>
                 Team Coinomia<br>
                 <img src="images/logo-coinomia.png" width="60"></span>
               </div>
            </div>
         </div>
      </form>
   </div>
   <br>
   <br>
   <div class="modal-footer no-print">
      <button type="button" class="btn btn-info" ng-click="printInvoice()"><i class="fa fa-print"></i> Print</button>
      <button type="button" class="btn btn-primary" ng-if="!affiliateAccount" ng-click="checkStatus(transactionDetails.address)">I have paid</button>
      <button type="button" class="btn btn-primary" ng-click="closePopup()" ng-if="affiliateAccount">Done</button>
   </div>
</div>
