<main-header class="main-header"></main-header>
<section>
  <div class="mainwrapper">
    <navigation></navigation>
    <style>.nav-tabs > li > a{ padding: 14px 45px !important; color:#fff !important;
    }.nav-tabs{background: #d9534f  none repeat scroll 0 0 !important;}.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus{ background:#b73632 !important;}
    </style>
    <div class="mainpanel">
      <!-- <coming-soon text-value="'Mining'"></coming-soon> -->
      <div class="contentpanel">
       <div class="col-md-12 nomargin nopadding">
          <h2 class="mb35"><i class="fa fa-google-wallet icon-lg border-round" aria-hidden="true" style="padding-left:5px;"></i> <strong>Wallet</strong></h2>
          <hr />
          <div class="tabbable-panel" >
             <div class="tabbable-line" >
                   <div class="tab-pane tab_default_7 active" style="height:800px;">
                      <div class="row">
                        <wallet-info class="col-md-4 col-sm-12" wallet-data="walletData" wallet-type="BTC" success-message="successMessage" error-message="errorMessage" wallet-heading="walletHeading" type="withdrawal" s3-url="s3Url"></wallet-info>
                        <wallet-info class="col-md-4 col-sm-12" wallet-data="walletData" wallet-type="ETH" success-message="successMessage" error-message="errorMessage" wallet-heading="walletHeading" type="withdrawal" s3-url="s3Url"></wallet-info>
                        <wallet-info class="col-md-4 col-sm-12" wallet-data="walletData" wallet-type="USD" success-message="successMessage" error-message="errorMessage" wallet-heading="walletHeading" type="withdrawal" s3-url="s3Url"></wallet-info>
                         <br />
                         <br />
                      </div>
                      <h2 class="mb37" align="center" style="width:50%;">
                         <span class="glyphicon glyphicon-minus"></span>
                         Latest Transaction and Withdrawal<span class="glyphicon glyphicon-minus"></span>
                      </h2>
                      <br />
                      <div class="table-responsive">
                         <table class="table table-dark-gry table-hover mb30 font16" >
                            <thead style="background:#525252 !important;">
                               <tr style="color:#525252 !important;">
                                  <th><strong class="white-color">#</strong></th>
                                  <th><strong class="white-color">Date</strong></th>
                                  <th><strong class="white-color">User ID</strong> </th>
                                  <th><strong class="white-color">Transaction</strong> </th>
                                  <th><strong class="white-color">Description</strong></th>
                               </tr>
                            </thead>
                            <tbody>
                              <tr>
                                <td colspan="5" class="text-center">No Transaction Found.</td>
                              </tr>
                               <tr ng-hide="true">
                                  <td>1</td>
                                  <td>12/12/2015(12:30:12)</td>
                                  <td>COIN34975934</td>
                                  <td>$900</td>
                                  <td>Withdrawal </td>
                               </tr>
                            </tbody>
                         </table>
                      </div>
                   </div>
              </div>
          </div>
       </div>
    </div>
    <!-- Modal -->
    <div class="modal fade" id="btc-wallet" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
       <div class="modal-dialog" role="document">
          <div class="modal-content">
             <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel"><img ng-src="{{s3Url}}btc-wallet.png" width="35" class="pull-left img-responsive " /> <strong>&nbsp;Bitcoin Wallet</strong></h4>
             </div>
             <div class="modal-body">
                <form class="form-inline">
                   <div class="form-group">
                      <label><strong>No Of Bitcoin you want to Withdraw</strong></label>
                      <input type="text" name="bitcoin-wallet" class="form-control" style="width:80%;"/> <button type="button" style="padding:10px;top: -4px;position: relative;" class="btn btn-default" data-dismiss="modal">OK</button>
                   </div>
                </form>
             </div>
          </div>
       </div>
    </div>
    <div class="modal fade" id="eth-wallet" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
       <div class="modal-dialog" role="document">
          <div class="modal-content">
             <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel"><img ng-src="{{s3Url}}eth-wallet.png" width="35" class="pull-left img-responsive " /> <strong>&nbsp;Ether Wallet</strong></h4>
             </div>
             <div class="modal-body">
                <form class="form-inline">
                   <div class="form-group">
                      <label><strong>No Of Ether you want to Withdraw</strong></label>
                      <input type="text" name="bitcoin-wallet" class="form-control" style="width:80%;"/> <button type="button" style="padding:10px;" class="btn btn-default" data-dismiss="modal">OK</button>
                   </div>
                </form>
             </div>
          </div>
       </div>
    </div>
    <div class="modal fade" id="usd-wallet" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
       <div class="modal-dialog" role="document">
          <div class="modal-content">
             <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel"><img ng-src="{{s3Url}}usd-wallet.png" width="35" class="pull-left img-responsive " /> <strong>&nbsp;USD Wallet</strong></h4>
             </div>
             <div class="modal-body">
                <form class="form-inline">
                   <div class="form-group">
                      <label><strong>USD Doller want to Withdraw</strong></label>
                      <input type="text" name="bitcoin-wallet" class="form-control" style="width:80%;"/> <button type="button" style="padding:10px;" class="btn btn-default" data-dismiss="modal">OK</button>
                   </div>
                </form>
             </div>
          </div>
       </div>
    </div>
      <!-- contentpanel -->
    </div>
    <main-footer></main-footer>
  </div>
  <!-- mainwrapper -->
</section>
