<main-header class="main-header no-print"></main-header>
<section>
  <div class="mainwrapper">
    <navigation class="no-print"></navigation>
    <style>.nav-tabs > li > a{ padding: 14px 45px !important; color:#fff !important;
    }.nav-tabs{background: #d9534f  none repeat scroll 0 0 !important;}.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus{ background:#b73632 !important;}
    </style>
    <div class="mainpanel">
      <!-- <coming-soon text-value="'Mining'"></coming-soon> -->
      <div class="contentpanel no-print">
       <div class="col-md-12 nomargin nopadding">
          <h2 class="mb35"><i class="fa fa-google-wallet icon-lg border-round" aria-hidden="true" style="padding-left:5px;"></i> <strong>Wallet</strong></h2>
          <hr />
          <div class="tabbable-panel" style="min-height:800px;">
             <div class="tabbable-line" >
                   <div class="tab-pane tab_default_7 active">
                      <div class="row">
                        <wallet-info class="col-md-4 col-sm-12" wallet-data="walletData" wallet-type="BTC" success-message="successMessage" error-message="errorMessage" wallet-heading="walletHeading" type="withdrawal" s3-url="s3Url"></wallet-info>
                        <wallet-info class="col-md-4 col-sm-12" wallet-data="walletData" wallet-type="ETH" success-message="successMessage" error-message="errorMessage" wallet-heading="walletHeading" type="withdrawal" s3-url="s3Url"></wallet-info>
                        <wallet-info class="col-md-4 col-sm-12" wallet-data="walletData" wallet-type="USD" success-message="successMessage" error-message="errorMessage" wallet-heading="walletHeading" type="withdrawal" s3-url="s3Url"></wallet-info>
                         <br />
                         <br />
                      </div>
                      <h2 class="mb37 transaction_heading" align="center">
                         <span class="glyphicon glyphicon-minus"></span>
                         Latest Transaction and Withdrawal<span class="glyphicon glyphicon-minus"></span>
                      </h2>
                      <br />
                      <div class="table-responsive transaction">
                         <table class="table table-dark-gry table-hover mb30 font16" >
                            <thead style="background:#525252 !important;">
                               <tr style="color:#525252 !important;">
                                  <th width="4%"><strong class="white-color">#</strong></th>
                                  <th><strong class="white-color">Date</strong></th>
                                  <th width="6%"><strong class="white-color">User ID</strong> </th>
                                  <th width="8%"><strong class="white-color">Transaction</strong> </th>
                                  <th><strong class="white-color">Transaction No</strong> </th>
                                  <th><strong class="white-color">Invoice No</strong> </th>
                                  <th><strong class="white-color">Description</strong></th>
                                  <th width="8%"><strong class="white-color">Status</strong></th>
                               </tr>
                            </thead>
                            <tbody>
                               <tr ng-repeat="transaction in transactionData">
                                  <td>{{$index+1}}</td>
                                  <td>{{transaction.Date}}</td>
                                  <td>{{userInfo.username}}</td>
                                  <td>{{transaction.Amount | currency }}</td>
                                  <td>{{transaction.transaction_number?transaction.transaction_number:'-'}} </td>
                                  <td>{{transaction.invoice_number}} </td>
                                  <td>{{transaction.Description}} </td>
                                  <td>{{transaction.payment_status?transaction.payment_status:'Not Paid'}} </td>
                               </tr>
                            </tbody>
                         </table>
                      </div>
                   </div>
              </div>
          </div>
       </div>
    </div>
    <!-- Modal -->
    <div class="modal fade" id="btc-wallet" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
       <div class="modal-dialog" role="document">
          <div class="modal-content">
             <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel" ng-if="withdrawalHeading && !responseSuccess">
                  <img ng-src="{{s3Url}}{{imageName | lowercase}}-wallet.png" width="35" class="pull-left img-responsive " /> 
                  <strong>&nbsp;{{walletName}} Wallet</strong>
                </h4>

                <h4 class="modal-title" id="myModalLabel" ng-if="responseSuccess && !convertSuccess && !convertError">
                  <img ng-src="{{s3Url}}{{imageName | lowercase}}-wallet.png" width="35" class="pull-left img-responsive " /> 
                  <strong>&nbsp;Withdrawal</strong>
                </h4>

                <h4 class="modal-title" id="myModalLabel" ng-if="convertUSDHeading">
                  <img ng-src="{{s3Url}}{{btcImage?'btc':'dollar'}}.png" width="35" class="pull-left img-responsive "> 
                  <strong>&nbsp;{{convertUSDName}} ({{walletName}} Wallet)</strong>
                </h4>
             </div>
             <div class="modal-body" >
               <h4 ng-if="withdrawalSuccess"><strong>Congratulations !!!</strong> You have Successfully Withdraw  </h4>
               <h4 ng-if="convertSuccess"><strong>Congratulations !!!</strong> You have Successfully Withdraw  </h4>

                <!-- Withdrawal Error-->
               <h4 ng-if="withdrawalError || convertError">{{errorMessage}}</h4>
               <br />
               <div class="ajax_loader" ng-if="loadingData"></div>
                <form name="withdrawal" class="form-inline" ng-submit="walletActivity(walletAmount, walletName, walletType)" ng-if="!convertSuccess && ! withdrawalSuccess && !withdrawalError && !convertError" novalidate>
                   <div class="form-group">
                      <label>
                        <strong>No Of {{walletName}} you want to {{withdrawalHeading?'Withdraw':'Convert'}}</strong>
                      </label>
                      <input type="number" name="walletAmount" min="0" ng-model="walletAmount" class="form-control" style="width:80%;" required />
                      <button type="submit" style="padding:10px;top: -4px;position: relative;" class="btn btn-default" ng-disabled="withdrawal.$invalid">OK</button>
                      <div class="alert alert-danger fade in error-padding"
                        ng-show="withdrawal.walletAmount.$touched && withdrawal.walletAmount.$invalid" style="width:80%;">
                        Please enter any amount</div>
                   </div>
                </form>
             </div>
          </div>
       </div>
    </div>
    <div class="modal fade" id="eth-wallet" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
       <div class="modal-dialog" role="document">
          <div class="modal-content">
             <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel"><img ng-src="{{s3Url}}eth-wallet.png" width="35" class="pull-left img-responsive " /> <strong>&nbsp;Ether Wallet</strong></h4>
             </div>
             <div class="modal-body">
                <form class="form-inline">
                   <div class="form-group">
                      <label><strong>No Of Ether you want to Withdraw</strong></label>
                      <input type="text" name="bitcoin-wallet" class="form-control" style="width:80%;"/> <button type="button" style="padding:10px;" class="btn btn-default" data-dismiss="modal">OK</button>
                   </div>
                </form>
             </div>
          </div>
       </div>
    </div>
    <div class="modal fade" id="usd-wallet" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
       <div class="modal-dialog" role="document">
          <div class="modal-content">
             <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel"><img ng-src="{{s3Url}}usd-wallet.png" width="35" class="pull-left img-responsive " /> <strong>&nbsp;USD Wallet</strong></h4>
             </div>
             <div class="modal-body">
                <form class="form-inline">
                   <div class="form-group">
                      <label><strong>Withdraw USD Doller</strong></label><br />
                      <b style="font-size:25px; ">$</b>
                      <input type="text" name="bitcoin-wallet" class="form-control" style="margin-top:10px;"/>
                      <button type="button" style="padding:10px;" class="btn btn-default" data-dismiss="modal">OK</button>
                   </div>
                </form>
             </div>
          </div>
       </div>
    </div>
    <div class="modal fade" id="internal-transfer" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
       <div class="modal-dialog" role="document">
          <div class="modal-content">
             <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                <h4 class="modal-title" id="myModalLabel"><img ng-src="images/transfer-funds.png" width="35" class="pull-left img-responsive "> <strong>&nbsp;Internal Transfer</strong></h4>
             </div>
             <div class="modal-body">
                <form class="form-inline">
                  <div class="ajax_loader" ng-if="loadingData"></div>
                  <div class="form-group">
                      <label><strong>User ID </strong></label><br>
                      <input type="text" name="user-id" ng-model="userId" class="form-control" style="margin-top:0px;" ng-keyup="verifyUserId(userId)">
                      <i class="fa fa-check" ng-if="verifiedStatus" style="color:#0C0; font-size:30px;"></i>
                      <i class="fa fa-times" ng-if="verifiedUserId" style="color:red; font-size:30px;"></i><br> 
                      <label class="mar10"><strong>Transfer USD Doller </strong></label><br>
                      <b style="font-size:25px; ">$</b> 
                      <input type="text" name="bitcoin-wallet" ng-model="transferAmount" class="form-control" style="margin-top:0px;" ng-disabled="verifiedStatus===false"><br>
                      <div class="col-xs-12 col-sm-3 col-md-3">
                        <button type="submit" class="btn btn-default" data-toggle="modal" data-dismiss="modal" ng-disabled="verifiedStatus===false" ng-click="transferFund(transferAmount, userId)">Send</button>
                      </div>
                      <div class="col-xs-12 col-sm-9 col-md-9">
                        <p class="red-text02"><strong>Note: Internal transfer costs 1% of the total transfer of payment on receivers end. Make sure you send appropriate amount.</strong></p>
                      </div>
                  </div>
                </form>
             </div>
          </div>
       </div>
    </div>

    <!-- Add Funds -->
    <div class="modal fade" id="add-funds" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
       <div class="modal-dialog" role="document">
          <div class="modal-content">
             <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                <h4 class="modal-title" id="myModalLabel"><img ng-src="images/usd-wallet.png" width="35" class="pull-left img-responsive "> <strong>&nbsp;Add Funds</strong></h4>
             </div>

             <div id="loadingDiv" ng-if="loadingData"></div>
             <div class="modal-body">
                <form>
                   <strong>Choose Your Payment Method</strong>
                   <div class="row mar20">
                      <div class="col-md-6 col-md-offset-3 col-sm-12"><input name="check-ref" type="radio" value="1" checked>&nbsp;&nbsp;<img ng-src="{{s3Url}}bitcoin-logo.png" width="200"></div>
                   </div>
                </form>
             </div>
             <br>
             <br>
             <div class="modal-footer">
                <button type="button" class="btn btn-primary" ng-click="addFund(addAmount)" ng-disabled="amountError">Add Funds</button>
             </div>
          </div>
       </div>
    </div>
    <!-- Add Funds -->

    <!-- Transaction Details -->
    <div class="modal fade in" id="add-funds1" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
       <div class="modal-dialog" role="document">
          <div class="modal-content">
             <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                <h4 class="modal-title" id="myModalLabel"><img ng-src="images/usd-wallet.png" width="35" class="pull-left img-responsive "> <strong>&nbsp;USD Wallet</strong></h4>
             </div>
             <div class="modal-body">
               <form>
                   <h4>Transaction Funding</h4>
                   <p>Please transfer your Bitcoins to the address given below. The funds will be credited to your wallet as soon as we get 6 confirmations from the Bitcoin network.</p>
                   <div class="row">
                      <div class="col-md-12 col-sm-12" style="font-size:14px; text-align:justify;">
                         <h4 class="no-margin no-padding">Invoice Number : #3987981279379</h4>
                         <h3><strong>Add Funds : $200</strong></h3>
                         <h4 class="add-funds-popup">You have to Pay <strong>3213.90 BTC </strong> </h4>
                         <br><img ng-src="https://api.qrserver.com/v1/create-qr-code/?size=150x150&amp;data=XXXXXXXXXXXXXXX" class="pull-right" width="100">
                         <strong>Date :</strong> 12/12/2016<br><br>
                         <strong class="bit-address">Bitcoin Address :
                         sdkjfhkh3274923849238432dsjfhsdj</strong><br>
                         <br><br>
                         <br>
                         <small class="red-text02"><strong>Attention!</strong> Please note that the Bitcoin address the system gave you for this funding is unique and can only be used once. Each new funding has to be initiated in Add Funds inside your account.</small><br>
                         <br>
                         <span><strong>Thank You,</strong><br>
                         Team Coinomia<br>
                         <img ng-src="images/logo-coinomia.png" width="60"></span>
                      </div>
                   </div>
                </form>
             </div>
             <br>
             <br>
             <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal">Add Funds</button>
             </div>
          </div>
       </div>
    </div>
    <!-- Transaction Details -->

      <!-- contentpanel -->
    </div>
    <main-footer class="no-print"></main-footer>
  </div>
  <!-- mainwrapper -->
</section>
