<footer style="margin-top:50px;">
    <div class="container">
        <p class="pull-right" >Copyright 2017, All Rights Reserved</p>
    </div>
</footer>
<!--Start of Tawk.to Script-->
<script type="text/javascript">
  var $_Tawk_API={},$_Tawk_LoadStart=new Date(); $_Tawk_API = $_Tawk_API || {}; $_Tawk_API.disableMobileBackHistory = true; (function(){ var s1=document.createElement("script"),s0=document.getElementsByTagName("script")[0]; s1.async=true; s1.src='https://embed.tawk.to/57e650264a427d157423018b/default'; s1.charset='UTF-8'; s1.setAttribute('crossorigin','*'); s0.parentNode.insertBefore(s1,s0); })();

</script>
<!--End of Tawk.to Script-->
