<div class="navbar-header">
  <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
    <i class="fa fa-align-justify top-menu-icon" aria-hidden="true"></i>
  </button>
</div>
<div class="col-md-5 col-md-offset-1">
  <p class="user-info" style=" padding-top:10px;">
    <strong><i class="fa fa-user"></i> Welcome {{name}}, {{country}}</strong>
  </p>
</div>
<div class="col-md-6" align="right">
  <img src="images/logo-coinomia.png" width="200" style="padding:10px 20px 0px;">
</div>
