<div class="leftpanel" style="z-index:5000; background:#525252; height:100%; " id="bs-example-navbar-collapse-1">
  <div class="media profile-left">
    <div class="media-body lft-menu">
      <a class="pull-left profile-thumb" href="#/setting">
        <img class="img-circle" src="images/users/user5.png" alt="">
      </a><br />
      <h4 class="media-heading">{{name}}</h4>
      <a class="logout" href="" ng-click="logout()"> <span class="label label-danger"><i class="fa fa-lock"></i> <strong>Logout</strong></span></a>
    </div>
  </div>
  <!-- media -->
  <nav id="nav">
    <ul class="nav nav-pills nav-stacked" id="menu-content">
      <li ><a href="#/dashboard" id="default" class="highlite"><i class="fa fa-home lg-i"></i> <br />
        <span>Dashboard</span></a>
      </li>
      <li ><a href="#/referral-link"><i class="fa fa-chain lg-i" aria-hidden="true"></i>
        <br />
        <span>My Referal Links</span></a>
      <li ><a href="#/payouts" onclick="highlite(this);"><i class="fa fa-list lg-i" aria-hidden="true"></i>
        <br />
        <span>Payouts</span></a>
      </li>
      <li ><a href="#/business-plan" onclick="highlite(this);"><i class="fa fa-edit lg-i"></i><br />
        <span>Business Plan</span></a>
      </li>
      <li><a href="#my-account" onclick="highlite(this);"><i class="fa fa-user lg-i" style="margin-right:5px;"></i> <br />
        <span>My Account</span></a>
      </li>
      <li ><a href="#setting" onclick="highlite(this);"><i class="fa fa-cog lg-i" aria-hidden="true"></i> <br />
        <span>Setting</span></a>
      </li>
      <li class="parent">
        <a href="#support" onclick="highlite(this);"><i class="fa fa-phone lg-i"></i><br /><span>Support</span></a>
      </li>
    </ul>
  </nav>
</div>
<div class="pull-right"><img src="images/logo-coinomia.png" width="200" style="padding:10px 20px;"></div>
