<div class="leftpanel left-navigation" id="bs-example-navbar-collapse-1">
  <div class="media profile-left">
    <div class="media-body lft-menu">
      <a class="pull-left profile-thumb" href="#/setting">
        <img class="img-circle" ng-src="{{userInfo.avatar?userInfo.avatar:'images/users/user5.png'}}" alt="">
      </a><br />
      <h4 class="media-heading">{{name}}</h4>
      <a class="logout" href="" ng-click="logout()"> <span class="label label-danger"><i class="fa fa-lock"></i> <strong>Logout</strong></span></a>
    </div>
  </div>
  <!-- media -->
  <nav id="nav">
    <ul class="nav nav-pills nav-stacked" id="menu-content">
      <li><a data-toggle="modal" data-target="#btc-testimonial" ng-class="(activeMenu==='btccoin'?'highlite':'')">
          <img ng-src="images/btccoin.png" width="100%" style="padding:5px;">
        </a>
      </li>
      <li><a href="#/reward" ng-class="(activeMenu==='reward'?'highlite':'')">
          <img ng-src="images/reward-icon.png" width="100%" style="padding:5px;">
        </a>
      </li>
      <li ><a href="#/dashboard" id="default" ng-class="(activeMenu==='dashboard'?'highlite':'')"><i class="fa fa-home lg-i"></i> <br />
        <span>Dashboard</span></a>
      </li>
      <li ><a href="#/referral-link" ng-class="(activeMenu==='referral-link'?'highlite':'')"><i class="fa fa-chain lg-i" aria-hidden="true"></i>
        <br />
        <span>My Referral Links</span></a>
      </li>
      <li ><a href='#/promote-coinomia' ng-class="(activeMenu==='promote-coinomia'?'highlite':'')"><i class="fa fa-bullhorn lg-i" aria-hidden="true"></i>
        <br />
        <span>Promote Coinomia</span></a>
      </li>
      <!-- <li ><a href="#/payouts" onclick="highlite(this);"><i class="fa fa-list lg-i" aria-hidden="true"></i>
        <br />
        <span>Payouts</span></a>
      </li>
      <li ><a href="#/business-plan" onclick="highlite(this);"><i class="fa fa-edit lg-i"></i><br />
        <span>Business Plan</span></a>
      </li> -->
      <li ><a href="#/networks" ng-class="(activeMenu==='networks'?'highlite':'')"><i class="fa fa-sitemap lg-i" aria-hidden="true"></i>
        <br />
        <span>Networks</span></a>
      </li>
      <li ><a href="#/mining" ng-class="(activeMenu==='mining'?'highlite':'')"><i class="fa fa-line-chart lg-i"></i><br />
        <span>Mining</span></a>
      </li>
      <!-- <li><a href="#my-account" onclick="highlite(this);"><i class="fa fa-user lg-i" style="margin-right:5px;"></i> <br />
        <span>My Account</span></a>
      </li> -->
      <li><a href="#/wallet" ng-class="(activeMenu==='wallet'?'highlite':'')"><i class="fa fa-google-wallet lg-i" aria-hidden="true"></i>
         <br>
         <span>Wallets</span></a>
      </li>
      <li ><a href="#/setting" ng-class="(activeMenu==='setting'?'highlite':'')"><i class="fa fa-cog lg-i" aria-hidden="true"></i> <br />
        <span>Settings</span></a>
      </li>
      <li class="parent">
        <a href="#/support" ng-class="(activeMenu==='support'?'highlite':'')"><i class="fa fa-phone lg-i"></i><br /><span>Support</span></a>
      </li>
      <li data-toggle="collapse" data-target=".banlinks" class="parent">
       <a href=""><img src="images/icon0letf.png" width="100%" style="border:1px solid #fff; padding:5px;"></a>
       <ul class="sub-menu banlinks collapse" style="text-align: left; margin-left: -30px; margin-top: 10px; padding-right: 10px; height: 0px;" aria-expanded="false">
          <li style="word-break:break-all;margin-bottom:10px;"><a class="left-menu-link" target="_blank" href="https://www.humaneyeballs.com/coinomia/" title="https://www.humaneyeballs.com/coinomia">Human <br>
             Eye<br>
             Balls</a>
          </li>
          <li style="word-break:break-all; border-top:1px solid #fff">
            <a target="_blank" href="http://www.riskfreecoinomialeads.com" title="http://www.riskfreecoinomialeads.com" class="left-menu-link" style="top:10px">
             Risk <br>
             Free <br>
             Leads</a>
          </li>
       </ul>
      </li>
      <!-- <li class="parent">
        <a href="https://www.humaneyeballs.com/coinomia/" target="_blank" onclick="highlite(this);"><img src="images/icon0letf.png" width="100%" style="border:1px solid #fff; padding:5px;"></a>
      </li> -->
      <!-- <li class="parent">
        <a href="http://104.131.186.149/coinomia_helpdesk/upload/login.php?do=ext&bk=coinomia.users" target="coinomia_osticket" ng-class="(activeMenu==='support'?'highlite':'')"><i class="fa fa-phone lg-i"></i><br /><span>Support</span></a>
      </li> -->
    </ul>
  </nav>

</div>

